<html xmlns:ebp="http://typo3.org/ns/Buepro/Pvh/ViewHelpers">
<div class="t3-page-ce-header ebp-header row m-0 g-0 {f:if(condition: '{allowEditContent} && {item.dragAndDropAllowed}', then: 't3-page-ce-header-draggable t3js-page-ce-draghandle')}">
    <div class="col-auto t3-page-ce-header-icons-left pe-2">
        {item.icons -> f:format.raw()}
        <span class="t3js-flag" title="{item.siteLanguage.title}"><core:icon identifier="{item.siteLanguage.flagIdentifier}" /></span>
        {f:variable(name: '_frameIdentifier', value: 'ebp-no-frame')}
        {f:variable(name: '_frameIdentifier', value: 'ebp-frame') -> f:if(condition: '{item.record.frame_class} !== "none"')}
        <span class="ebp-frame-indicator mx-1" title="{f:translate(key: 'LLL:EXT:extended_bootstrap_package/Resources/Private/Language/Backend.xlf:page_layout.frame.{_frameIdentifier}')}">{core:icon(identifier: _frameIdentifier)}</span>
    </div>
    {f:render(partial: 'PageLayout/RecordDefault/Preview', arguments: _all)
        -> ebp:format.replace(substring: '<br/>', replacement: '  ')
        -> ebp:format.replace(substring: '<br />', replacement: '  ')
        -> ebp:format.replace(substring: '<br>', replacement: '  ')
        -> f:format.stripTags(allowedTags: '<strong>')
        -> f:format.crop(maxCharacters: 80)
        -> ebp:format.trim()
        -> f:variable(name: '_title')}
    <div class="ebpc-title col align-self-start my-auto py-1 pe-2 d-none"><span title="{_title -> f:format.stripTags()}">{_title -> f:format.raw()}</span></div>
    <div class="col-auto align-self-end t3-page-ce-header-icons-right">
        <div class="btn-toolbar">
            <div class="btn-group btn-group-sm">
                <f:if condition="{item.editable} && {allowEditContent}">
                    <a href="{item.editUrl}" class="btn btn-default" title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:edit')}">
                        <core:icon identifier="actions-open" />
                    </a>
                    <f:if condition="{item.visibilityToggling}">
                        <a class="btn btn-default" href="{item.visibilityToggleUrl}" title="{item.visibilityToggleTitle}">
                            <core:icon identifier="actions-edit-{item.visibilityToggleIconName}" />
                        </a>
                    </f:if>
                    <f:if condition="{item.delible}">
                        <a class="btn btn-default t3js-modal-trigger" href="{item.deleteUrl}"
                        data-severity="warning"
                        data-title="{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_alt_doc.xlf:label.confirm.delete_record.title')}"
                        data-bs-content="{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_alt_doc.xlf:label.confirm.delete_record.title')}"
                        data-button-close-text="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:cancel')}"
                        title="{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:deleteItem')}">
                            <core:icon identifier="actions-edit-delete" size="small" />
                        </a>
                    </f:if>
                </f:if>
                <a class="ebp-toggler btn btn-sm btn-default ms-2" data-bs-toggle="collapse" href="#ebp-collapse-{item.record.uid}" role="button" aria-expanded="true" aria-controls="ebp-collapse-{item.record.uid}">{core:icon(identifier: 'actions-chevron-bar-up')}</a>
            </div>
        </div>
    </div>
</div>
</html>
