<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<br>
<b>Animated Header: </b><br/><br/>
<{pi_flexform_transformed.text_type}>
{pi_flexform_transformed.pre_text}&nbsp;<b>
<f:for each="{processedRow.tx_extendedbootstrappackage_animated_header}" as="words" iteration="iter">
    {words.animated_word}<f:if condition="!{iter.isLast}">, </f:if>
</f:for>
</b>&nbsp;{pi_flexform_transformed.post_text}</{pi_flexform_transformed.text_type}><br/>
<div class="col-12" style="margin-top:20px;margin-bottom: 20px;border-top:1px solid rgba(0,0,0,0.5);padding-top: 5px;">
     Animation: {pi_flexform_transformed.animation}
    <f:if condition="{pi_flexform_transformed.color}">
        Color: {pi_flexform_transformed.color}
    </f:if>
    <f:if condition="{pi_flexform_transformed.background}">
        Background-Color: {pi_flexform_transformed.background}
    </f:if>
</div>
</html>
