<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
     <br>
     <b>Countdown: </b>     <f:format.date format="%d-%m-%Y">{processedRow.countdown_expiry_date}</f:format.date> <f:format.date format="H:i">{processedRow.countdown_expiry_date}</f:format.date> --> <b>{pi_flexform_transformed.Countdown.doneText}</b>
</html>
