<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<br/>
<div class="row">
    <f:for each="{processedRow.tx_extendedbootstrappackage_counter_group_item}" as="item">
        <div class="col-sm-2">
            <h3>{item.counter_prefix}{item.counterval}{item.counter_suffix}</h3>
            <p>{item.header}
            </p></div>
    </f:for>
</div>
</html>
