
    <div class="cta-buttons text-{pi_flexform_transformed.align}">
        <hr>
        <f:for each="{processedRow.tx_extendedbootstrappackage_cta_buttons}" as="button" iteration="iteration">
              <button class="btn btn-{button.button_class.0} btn-lg">
                      <span class="btn-text">
                       {button.text}
                  </span>

              </button>
        </f:for>

    </div>

