<br/>
<container>
    <div class="row container">
        <f:for each="{processedRow.tx_extendedbootstrappackage_features}" as="feature">
            <div class="col-md-3">
                <p>{feature.text}</p>
            </div>
        </f:for>
    </div>
</container>

