<br/>
<div class="container">
<div class="row">
    <f:for each="{processedRow.tx_extendedbootstrappackage_pricing_plans}" as="plan">
        <div class="col-sm-4 text-center" style="max-width:20%;margin-right:20px;margin-bottom: 20px;border:1px solid rgba(0,0,0,0.5);border-radius: 5px;padding-top: 5px;min-height: 260px;">
            <h3>{plan.title}</h3>
            <p><strong>{plan.currency} {plan.price} / {plan.period}</strong></p>
            <f:format.html>{plan.features}</f:format.html>
        </div>
    </f:for>
</div>
</div>
