<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<br/>
<f:if condition="{pi_flexform_transformed.type} == 'Circle'"><h4>Circle</h4></f:if>
<div class="row">
    <f:if condition="{pi_flexform_transformed.type} == 'Line'">
        <f:then>
            <f:render partial="ContentElements/ProgressbarGroup/Line" arguments="{_all}"></f:render>
        </f:then>
        <f:else>
            <f:render partial="ContentElements/ProgressbarGroup/Circle" arguments="{_all}"></f:render>
        </f:else>
    </f:if>
</div>

</html>

