<p></p>
<div class="container">
    <div class="row">
        <f:for each="{processedRow.tx_extendedbootstrappackage_team_members}" as="member">
        <div class="col-sm-4 text-center" style="max-width:20%;margin-right:20px;margin-bottom: 20px;border:1px solid rgba(0,0,0,0.5);border-radius: 5px;padding-top: 5px;min-height: 300px;">
            <!-- TODO Image einbinden ??? -->
            <!--img src="/live-typo3/t3t-bootstrap/fileadmin/_processed_/c/9/csm_team-member-1_7de7891afe.jpg" alt="" width="120" height="100"-->
            <p>
                <strong>{member.name}</strong><br>
                <strong>{member.position}</strong>
            </p>
            <p class="text-left"><f:format.crop maxCharacters="200"><f:format.html>{member.bio}</f:format.html></f:format.crop></p>
            <p><strong>
                <ul class="text-left" style="list-style: none">
            <li>{member.facebook}</li>
            <li>{member.twitter}</li>
            <li>{member.instgram}</li>
            <li>{member.email}</li>
            <li>{member.phone}</li>
        </ul>
            </strong></p>
        </div>
        </f:for>
        </div>
</div>
