<f:if condition="{processedRow.tx_extendedbootstrappackage_testimonials}">
    <br/>
    <div class="container">
        <div class="row">
    <p><i>{pi_flexform_transformed.appearance}</i></p>
    <strong>Testimonials:</strong>
<br><f:for each="{processedRow.tx_extendedbootstrappackage_testimonials}" as="item">
            <div class="col-sm-4" style="max-width:20%;margin-right:20px;margin-bottom: 20px;border:1px solid rgba(0,0,0,0.5);border-radius: 5px;padding-top: 5px;min-height: 300px;">
                <p class="text-center">
                    <strong>{item.client_name}</strong><br>
                    <strong>{item.company_name}</strong>
                </p>
    <p>
        <f:format.crop maxCharacters="300">
            <f:format.html>{item.text}</f:format.html>
        </f:format.crop>

    </p>
            </div>
</f:for>
        </div>
    </div>
</f:if>
