<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<!--f:spaceless-->

<f:if condition="{backgroundImages}">
    <div class="simpleslide">
        <f:for each="{backgroundImages}" as="bgimage">
            <f:variable name="backgroundImageURL">'<f:uri.image image="{bgimage}" />'</f:variable>
            <div class="simpleslide-item bg-img" style="background-image: url({backgroundImageURL});"></div>
        </f:for>
    </div>
</f:if>
<f:if condition="{backgroundImages -> f:count()}>1">
    <f:asset.script identifier="simpleslide">
        $('.simpleslide').each(function(){
        var delay = 7000;
        var speed = 1000;
        var itemSlide = $(this).find('.simpleslide-item');
        var nowSlide = 0;

        $(itemSlide).hide();
        $(itemSlide[nowSlide]).show();
        nowSlide++;
        if(nowSlide >= itemSlide.length) {nowSlide = 0;}

        setInterval(function(){
        $(itemSlide).fadeOut(speed);
        $(itemSlide[nowSlide]).fadeIn(speed);
        nowSlide++;
        if(nowSlide >= itemSlide.length) {nowSlide = 0;}
        },delay);
        });
    </f:asset.script>
</f:if>
<div class="size overlay">
    <!--  -->
    <div id="wrapper"  class="size">
        <!--TYPO3SEARCH_begin-->
        <f:render section="Main" />
        <!--TYPO3SEARCH_end-->
    </div>
    <f:comment>FOOTER SECTION</f:comment>
    <footer>
        <f:if condition="{theme.socialmedia.enable}">
            <div class="footer-sociallinks">
                <f:render partial="Structure/SocialLinks" arguments="{_all}" />
            </div>
        </f:if>
        <f:if condition="{theme.copyright.enable}">
            <div class="maintain-footer-copyright">
                <f:render partial="Structure/Copyright" arguments="{_all}" />
            </div>
        </f:if>

    </footer>
</div>
<!--/f:spaceless-->
</html>
