<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" xmlns:ebp="http://typo3.org/ns/T3graf/ExtendedBootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="progress-container row">
	<f:for each="{records}" as="item" iteration="iteration">
		<div class="col-sm col-md">
			<div class="thumbnail-mod-1" style="max-width: {data.pi_flexform.circleWidth}px;">
				<div class="progress-bar-wrapper">
					<div class="progress-bar progress-bar-radial progress-bar-default" id="circle-bar-{item.data.uid}"></div>
				</div>
				<p class="progress-bar-text-circle inline-block"></p>
			</div>
		</div>
	</f:for>
</div>



<f:asset.script identifier="progress-bar-circle-c{data.uid}">
    // check if element is scrolled into view
    function isScrolledIntoView(el) <f:format.raw>{</f:format.raw>
    var rect = el.getBoundingClientRect();
    var elemTop = rect.top;
    var elemBottom = rect.bottom;

    // Only completely visible elements return true:
    var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
    // Partially visible elements return true:
    //isVisible = elemTop < window.innerHeight && elemBottom >= 0;
    return isVisible;
    }
    // strokeWidth berechnen
	function strokeWidth(x,y) <f:format.raw>{</f:format.raw>
	if (x > y) <f:format.raw>{</f:format.raw>
	window.alert('ERROR: Bar thickness is bigger than circle width');
	console.log('Bar thickness is bigger than circle width');
	return 'ERROR!!';
	}
	strokewidth = (x/y)*100;
	return strokewidth.toFixed(2);
	}


	<f:for each="{records}" as="item" iteration="iteration">
		var bar{item.data.uid} = new ProgressBar.Circle('#circle-bar-{item.data.uid}', <f:format.raw>{</f:format.raw>

		strokeWidth: strokeWidth({data.pi_flexform.thickness},{data.pi_flexform.circleWidth}),
		easing: '{data.pi_flexform.easing}',
		duration: {data.pi_flexform.duration},
		color: '{item.data.color}',
		trailColor: '{item.data.trailColor}',
		trailWidth: strokeWidth({data.pi_flexform.thickness},{data.pi_flexform.circleWidth}),
		svgStyle: <f:format.raw>{</f:format.raw>width: '100%', height: '100%'},
		text: <f:format.raw>{</f:format.raw>
		className: 'progress-bar-text-circle',
		style: <f:format.raw>{</f:format.raw>
		// Text color.
		// Default: same as stroke color (options.color)
		position: 'absolute',
		left: '50%',
		top: '50%',
		padding: 0,
		margin: 0,
		transform: 'translate(-50%, -50%)',
		color: 'inherit',
		}
		},
		step: (state, bar{item.data.uid}) => <f:format.raw>{</f:format.raw>
		bar{item.data.uid}.setText(Math.round(bar{item.data.uid}.value() * 100) + ' %</br>{item.data.title}');
		<f:format.raw>}</f:format.raw>
		});
	</f:for>
    window.addEventListener('load', function(event) <f:format.raw>{</f:format.raw>
	<f:for each="{records}" as="item" iteration="iteration">
		<f:variable name="percent" value="{item.data.percent}" />
		if (isScrolledIntoView(document.getElementById('circle-bar-{item.data.uid}'))) bar{item.data.uid}.animate({percent / 100});
		//else bar{item.data.uid}.set(0);
	</f:for>
	});

    window.addEventListener('scroll', function() <f:format.raw>{</f:format.raw>
	<f:for each="{records}" as="item" iteration="iteration">
		<f:variable name="percent" value="{item.data.percent}" />
		if (isScrolledIntoView(document.getElementById('circle-bar-{item.data.uid}'))) bar{item.data.uid}.animate({percent / 100});
		//else bar{item.data.uid}.set(0);
	</f:for>
	});

</f:asset.script>

</html>
