<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" xmlns:ebp="http://typo3.org/ns/T3graf/ExtendedBootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="progress-container text-sm-left">
	<f:for each="{records}" as="item" iteration="iteration">

<p class="font-secondary progress-bar-text-line">{item.data.title}</p>
<!-- Progress Bar-->
<div id="line-bar-{item.data.uid}" style="height:{data.pi_flexform.thickness}px;"></div>
	</f:for>
</div>
<f:asset.script identifier="progressbar-line-c{data.uid}">
    // check if element is scrolled into view

    function isScrolledIntoView(el) <f:format.raw>{</f:format.raw>
    var rect = el.getBoundingClientRect();
    var elemTop = rect.top;
    var elemBottom = rect.bottom;

    // Only completely visible elements return true:
    var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
    // Partially visible elements return true:
    //isVisible = elemTop < window.innerHeight && elemBottom >= 0;
    return isVisible;
    }
    <f:for each="{records}" as="item" iteration="iteration">
        var bar{item.data.uid} = new ProgressBar.Line('#line-bar-{item.data.uid}', <f:format.raw>{</f:format.raw>
        easing: '{data.pi_flexform.easing}',
        duration: {data.pi_flexform.duration},
        color: '{item.data.color}',
        trailColor: '{item.data.trailColor}',
        svgStyle: <f:format.raw>{</f:format.raw>width: '100%', height: '100%'<f:format.raw>}</f:format.raw>,
        <f:render partial="ProgressbarGroup/{data.pi_flexform.percentagetext}" arguments="{item:item, data:data}" />
        step: (state, bar{item.data.uid}) => <f:format.raw>{</f:format.raw>
        bar{item.data.uid}.setText(Math.round(bar{item.data.uid}.value() * 100) + ' %');
        <f:format.raw>},</f:format.raw>
        // If true, some useful console.warn calls will be done if it seems
        // that progressbar is used incorrectly
        // Default: false
        warnings: false
        <f:format.raw>}</f:format.raw>);
    </f:for>
    window.addEventListener('load', function(event) <f:format.raw>{</f:format.raw>
    <f:for each="{records}" as="item" iteration="iteration">
        <f:variable name="percent" value="{item.data.percent}" />
        if (isScrolledIntoView(document.getElementById('line-bar-{item.data.uid}'))) bar{item.data.uid}.animate({percent / 100});
        //else bar{item.data.uid}.set(0);
    </f:for>
    });

    window.addEventListener('scroll', function() <f:format.raw>{</f:format.raw>
    <f:for each="{records}" as="item" iteration="iteration">
        <f:variable name="percent" value="{item.data.percent}" />
        if (isScrolledIntoView(document.getElementById('line-bar-{item.data.uid}'))) bar{item.data.uid}.animate({percent / 100});
        //else bar{item.data.uid}.set(0);
    </f:for>
    });
</f:asset.script>
</html>
