<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:container="http://typo3.org/ns/B13/Container/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:if condition="{pi_flexform_transformed}">
    <f:then>
        <f:if condition="{CType} != 'ce_tile' && {CType} != 'ce_gridtabs'">
            <p></p>
            <div style="border: solid 1px; padding-left:5px;">

                <f:if condition="{pi_flexform_transformed.equalHeight}"><br/>Equal heights<br/></f:if>
                <f:if condition="{pi_flexform_transformed.noGutter}">No gutters<br/></f:if>

                <f:render section="{CType}" arguments="{_all}"/>
                {tx_container_grid -> f:format.raw()}
            </div>
        </f:if>
    </f:then>
</f:if>

<f:section name="1_col">
    <div class="row">
        <div class="col-md-12">
            <strong>Column 1</strong><br/>
            <p style="margin-top:5px;">
                {pi_flexform_transformed.col_lg_1}
                {pi_flexform_transformed.col_xs_1}
                {pi_flexform_transformed.col_sm_1}
                {pi_flexform_transformed.col_md_1}
            <p></p>
            <strong>BG Color:</strong> {pi_flexform_transformed.bg_color_col_1}
            </p>
        </div>
    </div>
</f:section>
<f:section name="ce_container">
    <div class="row">
        <div class="col-md-12">
            <f:if condition="{pi_flexform_transformed.wrapSection} === '1'">
                <f:then><strong>Section</strong><br/></f:then>
                <f:else><strong>Container</strong><br/></f:else></f:if>
            <f:if condition="{pi_flexform_transformed.isContainerFluid} === '1'">container-fluid<br/></f:if>
            </p>
        </div>
    </div>
</f:section>
<f:section name="ce_columns2">
    <div class="row">
        <div class="col-md-6">
            <strong>Column 1</strong><f:if condition="{pi_flexform_transformed.PaddingCol1} == '0'"> with no padding</f:if><br/>
            <p style="margin-top:5px;">
                {pi_flexform_transformed.col_lg_1}
                {pi_flexform_transformed.col_xs_1}
                {pi_flexform_transformed.col_sm_1}
                {pi_flexform_transformed.col_md_1}
<p></p>
                <strong>BG Color:</strong> {pi_flexform_transformed.bg_color_col_1}
            </p>
        </div>
        <div class="col-md-6">
            <strong>Column 2</strong><f:if condition="{pi_flexform_transformed.PaddingCol2} == '0'"> with no padding</f:if>
            <p style="margin-top:5px;">
                {pi_flexform_transformed.col_lg_2}
                {pi_flexform_transformed.col_xs_2}
                {pi_flexform_transformed.col_sm_2}
                {pi_flexform_transformed.col_md_2}
            <p></p>
            <strong>BG Color:</strong> {pi_flexform_transformed.bg_color_col_2}
            </p>
        </div>
    </div>
</f:section>
<f:section name="ce_columns3">
    <div class="row">
        <div class="col-md-4">
            <strong>Column 1</strong><f:if condition="{pi_flexform_transformed.PaddingCol1} == '0'"> with no padding</f:if><br/>
            <p style="margin-top:5px;">
                {pi_flexform_transformed.col_lg_1}
                {pi_flexform_transformed.col_xs_1}
                {pi_flexform_transformed.col_sm_1}
                {pi_flexform_transformed.col_md_1}
            <p></p>
            <strong>BG Color:</strong> {pi_flexform_transformed.bg_color_col_1}
            </p>
        </div>
        <div class="col-md-4">
            <strong>Column 2</strong><f:if condition="{pi_flexform_transformed.PaddingCol2} == '0'"> with no padding</f:if>
            <p style="margin-top:5px;">
                {pi_flexform_transformed.col_lg_2}
                {pi_flexform_transformed.col_xs_2}
                {pi_flexform_transformed.col_sm_2}
                {pi_flexform_transformed.col_md_2}
            <p></p>
            <strong>BG Color:</strong> {pi_flexform_transformed.bg_color_col_2}
            </p>
        </div>
        <div class="col-md-4">
            <strong>Column 3</strong><f:if condition="{pi_flexform_transformed.PaddingCol3} == '0'"> with no padding</f:if>
            <p style="margin-top:5px;">
                {pi_flexform_transformed.col_lg_3}
                {pi_flexform_transformed.col_xs_3}
                {pi_flexform_transformed.col_sm_3}
                {pi_flexform_transformed.col_md_3}
            <p></p>
            <strong>BG Color:</strong> {pi_flexform_transformed.bg_color_col_3}
            </p>
        </div>
    </div>
</f:section>
<f:section name="ce_columns4">
    <div class="row">
        <div class="col-md-3">
            <strong>Column 1</strong><f:if condition="{pi_flexform_transformed.PaddingCol1} == '0'"> with no padding</f:if><br/>
            <p style="margin-top:5px;">
                {pi_flexform_transformed.col_lg_1}
                {pi_flexform_transformed.col_xs_1}
                {pi_flexform_transformed.col_sm_1}
                {pi_flexform_transformed.col_md_1}
            <p></p>
            <strong>BG Color:</strong> {pi_flexform_transformed.bg_color_col_1}
            </p>
        </div>
        <div class="col-md-3">
            <strong>Column 2</strong><f:if condition="{pi_flexform_transformed.PaddingCol2} == '0'"> with no padding</f:if>
            <p style="margin-top:5px;">
                {pi_flexform_transformed.col_lg_2}
                {pi_flexform_transformed.col_xs_2}
                {pi_flexform_transformed.col_sm_2}
                {pi_flexform_transformed.col_md_2}
            <p></p>
            <strong>BG Color:</strong> {pi_flexform_transformed.bg_color_col_2}
            </p>
        </div>
        <div class="col-md-3">
            <strong>Column 3</strong><f:if condition="{pi_flexform_transformed.PaddingCol3} == '0'"> with no padding</f:if>
            <p style="margin-top:5px;">
                {pi_flexform_transformed.col_lg_3}
                {pi_flexform_transformed.col_xs_3}
                {pi_flexform_transformed.col_sm_3}
                {pi_flexform_transformed.col_md_3}
            <p></p>
            <strong>BG Color:</strong> {pi_flexform_transformed.bg_color_col_3}
            </p>
        </div>
        <div class="col-md-3">
            <strong>Column 4</strong><f:if condition="{pi_flexform_transformed.PaddingCol4} == '0'"> with no padding</f:if>
            <p style="margin-top:5px;">
                {pi_flexform_transformed.col_lg_4}
                {pi_flexform_transformed.col_xs_4}
                {pi_flexform_transformed.col_sm_4}
                {pi_flexform_transformed.col_md_4}
            <p></p>
            <strong>BG Color:</strong> {pi_flexform_transformed.bg_color_col_4}
            </p>
        </div>
    </div>
</f:section>
<f:section name="ce_sticky_content">
    <div class="row">
        <div class="col-md-6">
            <f:if condition="{pi_flexform_transformed.sticky_content_column} === 'left'">
                <h2>Sticky Column</h2>
                Size: {pi_flexform_transformed.sticky_content_column_width}/12
            </f:if>
        </div>
        <div class="col-md-6">
            <f:if condition="{pi_flexform_transformed.sticky_content_column} === 'right'">
                <h2>Sticky Column</h2>
                Size: {pi_flexform_transformed.sticky_content_column_width}/12
            </f:if>
        </div>
    </div>
</f:section>
</html>
