<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:container="http://typo3.org/ns/B13/Container/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:comment>
    <div id="tabpanel-{data.uid}"
         class="ce-tabpanel tabpanel{f:if(condition:'{data.pi_flexform.style}', then:' {data.pi_flexform.style}')}"
         role="tabpanel">
        <nav class="tab-navigation">
            <div class="nav nav-tabs" id="tab-{data.uid}" role="tablist">
                <f:for each="{children_101}" as="record" iteration="iterator">
                    {f:variable(name: '_selected', value: 'false')}
                    {f:variable(name: '_selected', value: 'true') -> f:if(condition:'{iterator.index}==0')}
                    <button class="nav-link{f:if(condition:'{iterator.index}==0',then:' active')}"
                            id="tab-{record.uid}"
                            data-toggle="tab"
                            data-target="#tab-content-{record.uid}"
                            data-bs-toggle="tab"
                            data-bs-target="#tab-content-{record.uid}"
                            type="button"
                            role="tab"
                            aria-controls="tab-content-{record.uid}"
                            aria-selected="{_selected}"
                    >
                        <span>{record.header}</span>
                    </button>
                </f:for>
            </div>
        </nav>
        <div class="tab-content" id="tab-content-{data.uid}">
            <f:for each="{children_101}" as="record" iteration="iterator">
                <div class="ce-tab-pane tab-pane fade{f:if(condition:'{iterator.index}==0',then:' show active')}"
                     id="tab-content-{record.uid}"
                     role="tabpanel"
                     aria-labelledby="tab-{record.uid}">
                    {f:cObject(typoscriptObjectPath: 'lib.containerElements.renderContent', data: record)}
                </div>
            </f:for>
        </div>
    </div>
</f:comment>

TODO make backend preview
{tx_container_grid -> f:format.raw()}
</html>
