<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{header}">
  <f:if condition="{is_raw}">
      <f:then>
          <f:render section="raw" arguments="{_all}"/>
      </f:then>
      <f:else>
          <f:render section="default" arguments="{_all}"/>
      </f:else>
  </f:if>

</f:if>
<f:section name="default">
    <f:switch expression="{layout}">
        <f:case value="1">
            <h1 class="{class} {header_class} {positionClass}">
                <i:icon iconfig="{headerIcon}" />
                <f:link.typolink parameter="{link}"><span>{header}</span></f:link.typolink>
            </h1>
        </f:case>
        <f:case value="2">
            <h2 class="{class} {header_class} {positionClass}">
                <i:icon iconfig="{headerIcon}" />
                <f:link.typolink parameter="{link}"><span>{header}</span></f:link.typolink>
            </h2>
        </f:case>
        <f:case value="3">
            <h3 class="{class} {header_class} {positionClass}">
                <i:icon iconfig="{headerIcon}" />
                <f:link.typolink parameter="{link}"><span>{header}</span></f:link.typolink>
            </h3>
        </f:case>
        <f:case value="4">
            <h4 class="{class} {header_class} {positionClass}">
                <i:icon iconfig="{headerIcon}" />
                <f:link.typolink parameter="{link}"><span>{header}</span></f:link.typolink>
            </h4>
        </f:case>
        <f:case value="5">
            <h5 class="{class} {header_class} {positionClass}">
                <i:icon iconfig="{headerIcon}" />
                <f:link.typolink parameter="{link}"><span>{header}</span></f:link.typolink>
            </h5>
        </f:case>
        <f:case value="6">
            <h6 class="{class} {header_class} {positionClass}">
                <i:icon iconfig="{headerIcon}" />
                <f:link.typolink parameter="{link}"><span>{header}</span></f:link.typolink>
            </h6>
        </f:case>
        <f:case value="100">
            <f:comment> -- do not show header -- </f:comment>
        </f:case>
        <f:defaultCase>
            <f:if condition="{default}">
                <f:render partial="Header/Header" arguments="{
                    header: header,
                    layout: default,
                    class: class,
                    header_class: header_class,
                    is_raw: is_raw,
                    positionClass: positionClass,
                    link: link,
                    headerIcon: headerIcon}" />
            </f:if>
        </f:defaultCase>
    </f:switch>
</f:section>
<f:section name="raw">
    <f:switch expression="{layout}">
        <f:case value="1">
            <h1 class="{class} {header_class} {positionClass}">
                <f:format.raw><f:link.typolink parameter="{link}">{header}</f:link.typolink></f:format.raw>
            </h1>
        </f:case>
        <f:case value="2">
            <h2 class="{class} {header_class} {positionClass}">
                <f:format.raw><f:link.typolink parameter="{link}">{header}</f:link.typolink></f:format.raw>
            </h2>
        </f:case>
        <f:case value="3">
            <h3 class="{class} {header_class} {positionClass}">
                <f:format.raw><f:link.typolink parameter="{link}">{header}</f:link.typolink></f:format.raw>
            </h3>
        </f:case>
        <f:case value="4">
            <h4 class="{class} {header_class} {positionClass}">
                <f:format.raw><f:link.typolink parameter="{link}">{header}</f:link.typolink></f:format.raw>
            </h4>
        </f:case>
        <f:case value="5">
            <h5 class="{class} {header_class} {positionClass}">
                <f:format.raw><f:link.typolink parameter="{link}">{header}</f:link.typolink></f:format.raw>
            </h5>
        </f:case>
        <f:case value="6">
            <h6 class="{class} {header_class} {positionClass}">
                <f:format.raw><f:link.typolink parameter="{link}">{header}</f:link.typolink></f:format.raw>
            </h6>
        </f:case>
        <f:case value="100">
            <f:comment> -- do not show header -- </f:comment>
        </f:case>
        <f:defaultCase>
            <f:if condition="{default}">
                <f:render partial="Header/Header" arguments="{
                    header: header,
                    layout: default,
                    class: class,
                    header_class: header_class,
                    is_raw: is_raw,
                    positionClass: positionClass,
                    link: link}" />
            </f:if>
        </f:defaultCase>
    </f:switch>
</f:section>
</html>
