<html data-namespace-typo3-fluid="true" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"  xmlns:ebp="http://typo3.org/ns/T3graf/ExtendedBootstrapPackage/ViewHelpers"xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">
    <f:variable name="bg-color"></f:variable>
    <f:variable name="text-color"></f:variable>
    <f:if condition="{data.pi_flexform.background} && {data.pi_flexform.background} != 'default'">
        <f:then>
            <f:variable name="bg-color"> bg-{data.pi_flexform.background}</f:variable>
        </f:then>
    </f:if>
    <f:if condition="{data.pi_flexform.color} && {data.pi_flexform.color} != 'default'">
        <f:then>
            <f:variable name="text-color"> text-{data.pi_flexform.color}</f:variable>
        </f:then>
    </f:if>
    <section class="animated-header-container">
        <f:asset.css identifier="animatedheader" href="EXT:extended_bootstrap_package/Resources/Public/Css/dist/animatedheader.css" />
            <f:asset.script identifier="aninmated-header-script-framework" src="EXT:extended_bootstrap_package/Resources/Public/JavaScript/Dist/jquery-2.1.1.js" />
            <f:asset.script identifier="aninmated-header-script" src="EXT:extended_bootstrap_package/Resources/Public/JavaScript/Src/animatedheader.js" />

            <{data.pi_flexform.text_type} class="cd-headline {data.pi_flexform.animation}">
        <f:format.raw><span class="ah-pre-text">{data.pi_flexform.pre_text}</span></f:format.raw>
&nbsp;
             <span class="cd-words-wrapper{bg-color}{text-color}">
                    <f:for as="word" each="{animated_words}" iteration="iter">
                        <b class="{f:if(condition: '{iter.isFirst}', then: 'is-visible')}">{word.data.animated_word}</b>
                    </f:for>
</span>
        &nbsp;
                <span class="ah-post-text">{data.pi_flexform.post_text}</span>
            </{data.pi_flexform.text_type}>
</f:section>
</html>

