<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{records}">
        <f:variable name="imageConfig">{settings.responsiveimages.contentelements.card_group.{data.pi_flexform.columns}}</f:variable>
        <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{imageConfig.multiplier}" gutters="{imageConfig.gutters}" corrections="{imageConfig.corrections}" />
        <span class="card-group-element card-group-element-align-{data.pi_flexform.align} card-group-element-columns-{data.pi_flexform.columns}">
            <f:for each="{records}" as="item" iteration="iteration">
                <f:if condition="{item.data.animation}">
                    <f:asset.css identifier="animateCss" href="EXT:extended_bootstrap_package/Resources/Public/Css/dist/animate.min.css" />
                    <f:asset.script identifier="animateJS" src="EXT:extended_bootstrap_package/Resources/Public/JavaScript/Src/josh.js"/>
                    <f:asset.script identifier="animateInit">const josh = new Josh();</f:asset.script>

                </f:if>
                <div class="card-group-element-item{f:if(condition: '{item.data.animation}', then: ' josh-js')}"
                     <f:if condition="{item.data.animation}">
                     data-josh-anim-name="{item.data.animation}"
                     data-josh-duration="{item.data.animation_duration}ms"
                     data-josh-anim-delay="{item.data.animation_delay}s"
                     data-josh-iteration="{f:if(condition: '{item.data.animation_iteration} == 0', then: 'infinite', else: '{item.data.animation_iteration}')}"
                     </f:if>
                         >
                    <div class="card">
                        <f:if condition="{item.image.0}">
                            <div class="card-img-top">
                                <f:render section="LinkWrap" arguments="{link: item.data.link, linkTitle: item.data.header}" contentAs="content">
                                    <f:render partial="Media/Rendering/Image" arguments="{file: item.image.0, data: data, settings: settings, variants: variants}" />
                                </f:render>
                            </div>
                        </f:if>
                        <div class="card-body">
                            <h3 class="card-title">
                                <f:render section="LinkWrap" arguments="{link: item.data.link, linkTitle: item.data.header}" contentAs="content">
                                    {item.data.header}
                                </f:render>
                            </h3>
                            <f:if condition="{item.data.subheader}">
                                <h4 class="card-subtitle">{item.data.subheader}</h4>
                            </f:if>
                            <f:if condition="{item.data.bodytext}">
                                <f:format.html>{item.data.bodytext}</f:format.html>
                            </f:if>
                        </div>
                        <f:if condition="{item.data.link}">
                            <f:variable name="linkTitle">
                                <f:if condition="{item.data.link_title}">
                                    <f:then>{item.data.link_title}</f:then>
                                    <f:else><f:translate key="readmore" extensionName="bootstrap_package" /></f:else>
                                </f:if>
                            </f:variable>
                            <div class="card-footer">
                                <f:link.typolink parameter="{item.data.link}" class="btn btn-{item.data.link_class}" title="{linkTitle -> bk2k:format.trim()}">
                                    <f:if condition="{item.linkIcon}">
                                        <span class="btn-icon">
                                            <bk2k:icon icon="{item.linkIcon}" />
                                        </span>
                                    </f:if>
                                    <span class="btn-text">
                                        {linkTitle}
                                    </span>
                                </f:link.typolink>
                            </div>
                        </f:if>
                    </div>
                </div>
                <f:if condition="{item.data.animation}">

                </f:if>
            </f:for>
        </div>
    </f:if>

</f:section>
<f:section name="LinkWrap">

    <f:if condition="{link}">
        <f:then>
            <f:link.typolink parameter="{link}" title="{linkTitle -> bk2k:format.trim()}">{content -> f:format.raw()}</f:link.typolink>
        </f:then>
        <f:else>
            {content -> f:format.raw()}
        </f:else>
    </f:if>

</f:section>
</html>
