<html data-namespace-typo3-fluid="true" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"  xmlns:ebp="http://typo3.org/ns/T3graf/ExtendedBootstrapPackage/ViewHelpers"xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default" />

<f:section name="Main">
        <f:asset.script identifier="countdown-script" src="EXT:extended_bootstrap_package/Resources/Public/JavaScript/Src/countdown.js" />
    <f:asset.script identifier="countdown-{data.uid}">
        const myCountdown_{data.uid} = new countdown(<f:format.raw>{</f:format.raw>
        target: '#countdown{data.uid}',
        dayWord: '<f:translate key="ce_countdown.day" extensionName="extended_bootstrap_package"/>',
        daysWord: '<f:translate key="ce_countdown.days" extensionName="extended_bootstrap_package"/>',
        hourWord: '<f:translate key="ce_countdown.hour" extensionName="extended_bootstrap_package"/>',
        hoursWord: '<f:translate key="ce_countdown.hours" extensionName="extended_bootstrap_package"/>',
        minWord: '<f:translate key="ce_countdown.minute" extensionName="extended_bootstrap_package"/>',
        minsWord: '<f:translate key="ce_countdown.minutes" extensionName="extended_bootstrap_package"/>',
        secWord: '<f:translate key="ce_countdown.second" extensionName="extended_bootstrap_package"/>',
        secsWord: '<f:translate key="ce_countdown.seconds" extensionName="extended_bootstrap_package"/>',
        doneText: '<div class="countdown-done-text countdown-color-{data.pi_flexform.doneTextColor}">{data.pi_flexform.doneText}</div>',
       });
    </f:asset.script>
    <div class="{data.pi_flexform.align}">
        <div id="countdown{data.uid}" class="countdown-container countdown{f:if(condition: '{data.pi_flexform.bg_border} && {data.pi_flexform.doneText}', then: ' countdown-border countdown-border-color-{data.pi_flexform.bg_borderColor}')}" data-date="{f:format.date(format: 'd-m-Y',date: '{data.countdown_expiry_date}')}" data-time="{f:format.date(format: 'H:i',date: '{data.countdown_expiry_date}')}">
            <div class="days-container{f:if(condition: '{data.pi_flexform.daysBorder}', then: ' countdown-border countdown-border-color-{data.pi_flexform.daysBorderColor}')} countdown-color-{data.pi_flexform.daysTextColor} day"><span class="num"></span><span class="word days-label"></span></div>
            <div class="hours-container{f:if(condition: '{data.pi_flexform.hoursBorder}', then: ' countdown-border countdown-border-color-{data.pi_flexform.hoursBorderColor}')} countdown-color-{data.pi_flexform.hoursTextColor} hour"><span class="num"></span><span class="word hours-label"></span></div>
            <div class="minutes-container{f:if(condition: '{data.pi_flexform.minutesBorder}', then: ' countdown-border countdown-border-color-{data.pi_flexform.minutesBorderColor}')} countdown-color-{data.pi_flexform.minutesTextColor} min"><span class="num"></span><span class="word minutes-label"></span></div>
            <div class="seconds-container{f:if(condition: '{data.pi_flexform.secondsBorder}', then: ' countdown-border countdown-border-color-{data.pi_flexform.secondsBorderColor}')} countdown-color-{data.pi_flexform.secondsTextColor} sec"><span class="num"></span><span class="word seconds-label"></span></div>
        </div>
    </div>





    <f:comment>
    <div id="countdown_{data.uid}" class="countdown-container ">
        <div class="countdown-done countdown-color-{data.pi_flexform.textColor} {f:if(condition: '{data.pi_flexform.border}', then: 'countdown-border countdown-border-color-{data.pi_flexform.borderColor}')}">
            <div class="countdown-inner">
                <div class="countdown-done-text">{data.pi_flexform.doneText}</div>
            </div>
        </div>

        <div class="days-container">
            <div class="days"></div>
            <div class="days-label">days</div>
        </div>

        <div class="hours-container">
            <div class="hours"></div>
            <div class="hours-label">hours</div>
        </div>

        <div class="minutes-container">
            <div class="minutes"></div>
            <div class="minutes-label">minutes</div>
        </div>

        <div class="seconds-container">
            <div class="seconds"></div>
            <div class="seconds-label">seconds</div>
        </div>

    </div>
    </f:comment>
<f:comment>
    <div id="countdown_{data.uid}" class="countdown {f:if(condition: '{data.pi_flexform.border}', then: 'countdown-border countdown-border-color-{data.pi_flexform.borderColor}')}">
        <div class="countdown-inner countdown-color-{data.pi_flexform.textColor}">
            <div ><span class="days"></span><span class="days_text">Days</span></div>
            <div ><span class="hours"></span><span class="hours_text">Hours</span></div>
            <div ><span class="minutes"></span><span class="minutes_text">Minutes</span></div>
            <div ><span class="seconds"></span><span class="seconds_text">Seconds</span></div>
        </div>
    </div>
    <div class="countdown-done countdown-color-{data.pi_flexform.textColor} {f:if(condition: '{data.pi_flexform.border}', then: 'countdown-border countdown-border-color-{data.pi_flexform.borderColor}')}">
        <div class="countdown-inner">
            <div class="countdown-done-text">{data.pi_flexform.doneText}</div>
        </div>
    </div>
</f:comment>


</f:section>
</html>

