<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
      xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">
    <f:asset.script identifier="countergroup-script" src="EXT:extended_bootstrap_package/Resources/Public/JavaScript/Src/countergroup.js" />
    <f:variable name="iconHeight" value="{settings.countergroup.icon.{data.pi_flexform.size}.height}"/>
    <f:variable name="iconWidth" value="{settings.countergroup.icon.{data.pi_flexform.size}.width}"/>
    <f:variable name="iconSize" value='height:{settings.countergroup.icon.{data.pi_flexform.size}.height}px; width:{settings.countergroup.icon.{data.pi_flexform.size}.width}'/>
    <f:if condition="{records}">
        <div
            class="countergroup countergroup-align-{data.pi_flexform.align} countergroup-columns-{data.pi_flexform.columns} countergroup-iconposition-{data.pi_flexform.icon_position}">
            <f:for each="{records}" as="item" iteration="iteration">
                <div class="countergroup-item  countergroup-color-{data.pi_flexform.color}">
                    <div class="countergroup-item-icon">

                        <f:if condition="{item.data.iconpack_enable} && {item.icon}">
                            <f:then>
                                <i:icon iconfig="{item.icon}" additionalAttributes="{style: iconSize}" />
                            </f:then>
                            <f:else>
                                <bk2k:icon icon="{item.icon}" height="{iconHeight}" width="{iconWidth}"/>
                            </f:else>

                        </f:if>

                    </div>
                    <div class="countergroup-item-text">
                        <f:if condition="{item.data.counterval}">
                            <span class="countergroup-item-text-prefix countergroup-counterval-{data.pi_flexform.size}">{item.data.counter_prefix}</span><span
                            class="countergroup-item-text-counterval countergroup-counterval-{data.pi_flexform.size}">{item.data.counterval}</span><span
                            class="countergroup-item-text-suffix countergroup-counterval-{data.pi_flexform.size}">{item.data.counter_suffix}</span>
                        </f:if>
                        <p class="countergroup-item-text-header countergroup-header-{data.pi_flexform.size}">
                            {item.data.header}
                        </p>
                    </div>
                </div>
            </f:for>
        </div>
    </f:if>
</f:section>
</html>
