<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
      xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">
    <div class="cta-buttons text-{data.pi_flexform.align}">
        <hr class="divider-{data.pi_flexform.divider_color}">
        <f:for each="{records}" as="button" iteration="iteration">

            <f:link.typolink parameter="{button.data.link}">
              <button class="btn btn-{button.data.button_class} btn-lg">
                  <f:if condition="{button.data.icon_position} === 'left'">
                      <span class="btn-icon-{button.data.icon_position}">
                          <f:if condition="{button.data.iconpack_enable} && {button.icon}">
                            <f:then>
                                <i:icon iconfig="{button.icon}" additionalAttributes="{style: 'height:30px;width:30px'}"/>
                            </f:then>
                            <f:else>
                                <bk2k:icon icon="{button.icon}" height="30" width="30"/>
                            </f:else>

                        </f:if>
                </span>
                      <span class="btn-text">
                       {button.data.text}
                  </span>
                  </f:if>

                  <f:if condition="{button.data.icon_position} === 'right'">
                         <span class="btn-text">
                       {button.data.text}
                  </span>
                      <span class="btn-icon-{button.data.icon_position}">
                     <f:if condition="{button.data.iconpack_enable} && {button.icon}">
                            <f:then>
                                <i:icon iconfig="{button.icon}" additionalAttributes="{style: 'height:30px;width:30px'}"/>
                            </f:then>
                            <f:else>
                                <bk2k:icon icon="{button.icon}" height="30" width="30"/>
                            </f:else>

                        </f:if>
                </span>

                  </f:if>

              </button>
            </f:link.typolink>
        </f:for>

    </div>
</f:section>
</html>
