<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/Mindshape/MindshapeCookieConsent/ViewHelpers"
      xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
      xmlns:ebp="http://typo3.org/ns/T3graf\ExtendedBootstrapPackage\ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <ebp:extension.isLoaded extensionName="mindshape_cookie_consent">
        <f:then>
            <bk2k:externalMedia url="{data.external_media_source}" class="embed-responsive-item">
                <f:if condition="{externalMedia}">
                    <f:then>
                        <div class="embed-responsive embed-responsive-{data.external_media_ratio}">
                            <ebp:condition.string.contains string="{data.external_media_source}" phrase="youtube">
                                <m:consent identifier="youtube" scripts="">
                                    <f:format.raw>{externalMedia}</f:format.raw>
                                </m:consent>
                            </ebp:condition.string.contains>
                            <ebp:condition.string.contains string="{data.external_media_source}" phrase="vimeo">
                                <m:consent identifier="vimeo" scripts="">
                                    <f:format.raw>{externalMedia}</f:format.raw>
                                </m:consent>
                            </ebp:condition.string.contains>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="alert alert-warning">
                            <f:translate key="externalmediaunsupported" extensionName="bootstrap_package" arguments="{0: '<strong>{data.external_media_source}</strong>'}" />
                        </div>
                    </f:else>
                </f:if>
            </bk2k:externalMedia>
        </f:then>
        <f:else>
            <bk2k:externalMedia url="{data.external_media_source}" class="embed-responsive-item">
                <f:if condition="{externalMedia}">
                    <f:then>
                        <div class="embed-responsive embed-responsive-{data.external_media_ratio}">
                            <f:format.raw>{externalMedia}</f:format.raw>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="alert alert-warning">
                            <f:translate key="externalmediaunsupported" extensionName="bootstrap_package" arguments="{0: '<strong>{data.external_media_source}</strong>'}" />
                        </div>
                    </f:else>
                </f:if>
            </bk2k:externalMedia>
        </f:else>
    </ebp:extension.isLoaded>


</f:section>
</html>
