<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
      xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">
    <div class="feature_list">
        <ul class="list-group">
            <f:for each="{records}" as="feature" iteration="iteration">
              <f:variable name="iconStyle" value=""/>
                <f:if condition="{data.pi_flexform.icon_type} !== default">
                    <f:if condition="{data.pi_flexform.icon_color}"><f:variable name="iconStyle" value="{iconStyle}color: {data.pi_flexform.icon_color};" /></f:if>
                    <f:if condition="{data.pi_flexform.icon_background}"><f:variable name="iconStyle" value="{iconStyle}background-color: {data.pi_flexform.icon_background};" /></f:if>
                </f:if>
                <li class="list-group-item feature-list-link-{data.pi_flexform.link_color} feature-list-{data.pi_flexform.hover_color}">
                    <f:link.typolink parameter="{feature.data.link}">
                        <span class="icon icon-{data.pi_flexform.icon_type}"{f:if(condition: iconStyle, then: ' style="{iconStyle}"', else: ' style="{iconStyle}"')}>
                        <f:if condition="{feature.data.iconpack_enable} && {feature.icon}">
                            <f:then>
                                <i:icon iconfig="{feature.icon}" additionalAttributes="{style: 'height:40px;width:40px'}"/>
                            </f:then>
                            <f:else>
                                <bk2k:icon icon="{feature.icon}" height="40" width="40"/>
                            </f:else>

                        </f:if>
                        </span>
                        <p>{feature.data.text}</p>
                    </f:link.typolink>
                </li>
            </f:for>


        </ul>
    </div>
</f:section>
</html>
