<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

<f:if condition="{data.layout} > 2000 && {data.layout} < 2012">
	<f:then>
		<f:variable name="textimageinputsize">{data.layout -2000}</f:variable>
    		<f:variable name="textimage-imagesize">col-md-{textimageinputsize} m-auto</f:variable>

        	<div class="col-md-{textimageinputsize} m-auto">
            		<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
	</f:then>
	<f:else>
            		<f:render partial="Media/Gallery" arguments="{_all}" />

	</f:else>

</f:if>

</f:section>
</html>
