<html data-namespace-typo3-fluid="true" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"  xmlns:ebp="http://typo3.org/ns/T3graf/ExtendedBootstrapPackage/ViewHelpers"xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default" />

<f:section name="Main">
    <div class="pricing-table row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 justify-content-center">
    <f:if condition="{records}">
        <f:for each="{records}" as="plan" iteration="iteration">
                        <div class="col mb-4 pl-md-2">

                            <div class="card h-100{f:if(condition: '{plan.data.is_featured}', then: ' is-featured')}">

                            <div class="card-header">
                                <h4 class="card-title text-muted text-uppercase text-center">
                                    <f:if condition="{plan.icon.0}">
                                            <bk2k:inlineSvg image="{plan.icon.0}" class="plan-icon"/>
                                    </f:if>
                                    {plan.data.title}</h4>
                                <h5 class="card-price text-center"><span class="currency">{plan.data.currency}</span>{plan.data.price}<br/><span class="period">{plan.data.period}</span></h5>
                                <f:if condition="{plan.data.is_featured}"><div class="ribbon">{plan.data.featured_text}</div></f:if>
                                <p>
                                    <p class="text-center">{plan.data.subtitle}</p>
                                    <p class="text-center">{plan.data.short_description}</p>

                                </p>

                            </div>
                            <div class="card-body" >

                                <div class="text-center">
                                    <f:format.html>
                                        {plan.data.features}
                                    </f:format.html>
                                </div>

                            </div>
                            <div class="card-footer d-grid gap-1">

                                <a href="{plan.data.link}" class="btn btn-block btn-{plan.data.button_class}"><f:if condition="{plan.button_icon.0}">
                                    <bk2k:inlineSvg image="{plan.button_icon.0}" class="button-icon"/>
                                </f:if>{plan.data.button_text}</a>
                            </div>
                        </div>
                        </div>
        </f:for>
    </f:if>
</div>
</f:section>
</html>
