<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">
    <f:asset.script identifier="progressbar-script" src="EXT:extended_bootstrap_package/Resources/Public/JavaScript/Src/progressbar.js" />
	<f:if condition="{records}">

	<f:render partial="ProgressbarGroup/{data.pi_flexform.type}" arguments="{records:records, data:data}" />

	</f:if>
</f:section>
</html>

