<html data-namespace-typo3-fluid="true" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
      xmlns:ebp="http://typo3.org/ns/T3graf/ExtendedBootstrapPackage/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default"/>

<f:section name="Main">

    <div class="team-list row  row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
        <f:if condition="{records}">
            <f:for each="{records}" as="member" iteration="iteration">

                    <div class="col mb-4 pl-md-2">
                        <div class="card h-100 text-center profile">
                            <div class="{f:if(condition: '{member.data.facebook} || {member.data.twitter} || {member.data.instagram} || {member.data.email} || {member.data.phone}', then: 'img-box', else: 'no-img-box')}">
                                <f:if condition="{member.avatar.0}">
                                    <f:then>
                                        <f:image image="{member.avatar.0}" class="card-img-top" width="368" height="368" additionalAttributes="{loading: 'lazy'}"/>
                                    </f:then>
                                    <f:else>
                                        <f:image src="EXT:extended_bootstrap_package/Resources/Public/Images/member_placeholder.jpg" class="card-img-top" width="368" height="368" additionalAttributes="{loading: 'lazy'}"/>
                                    </f:else>
                                </f:if>
                                <f:if condition="{member.data.facebook} || {member.data.twitter} || {member.data.instagram} || {member.data.email} || {member.data.phone}">
                                    <ul class="text-center">
                                        <f:if condition="{member.data.facebook}"><f:link.external uri="{member.data.facebook}" target="_blank"><i class="fab fa-facebook-square"></i></f:link.external></f:if>
                                        <f:if condition="{member.data.twitter}"><f:link.external uri="{member.data.twitter}" target="_blank"><i class="fab fa-twitter-square"></i></f:link.external></f:if>
                                        <f:if condition="{member.data.instagram}"><f:link.external uri="{member.data.instagram}" target="_blank"><i class="fab fa-instagram-square"></i></f:link.external></f:if>

                                        <f:if condition="{member.data.email}"><f:link.email email="{member.data.email}"><i class="fas fa-envelope-square"></i></f:link.email></f:if>

                                        <f:if condition="{member.data.phone}"><ebp:link.phone phone="{member.data.phone}"><i class="fas fa-phone-square-alt"></i></ebp:link.phone></f:if>
                                    </ul>
                                </f:if>
                            </div>

                            <div class="card-body">
                                <h4 class="card-title">{member.data.name}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">{member.data.position}</h6>
                                <p class="card-text"><f:format.html>{member.data.bio}</f:format.html></p>
                            </div>
                        </div>
                    </div>

            </f:for>
        </f:if>
    </div>
</f:section>
</html>
