<html data-namespace-typo3-fluid="true" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
      xmlns:ebp="http://typo3.org/ns/T3graf/ExtendedBootstrapPackage/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{data.pi_flexform.appearance} == 'grid'">
        <f:then>
            <f:render section="testimonial-card-deck" arguments="{_all}"/>
        </f:then>
        <f:else>
            <f:render section="testimonial-slider" arguments="{_all}"/>
        </f:else>
    </f:if>
</f:section>

<f:section name="testimonial-card-deck">
    <div class="testimonial-card-deck">
        <div class="row">
            <f:for each="{records}" as="item">
                <div class="col-md-4 mt-4">
                    <div class="card d-flex mx-auto h-100">
                        <div class="card-image">
                            <f:if condition="{item.avatar.0}">
                                <f:then>
                                    <f:image image="{item.avatar.0}" class="img-fluid d-flex mx-auto" additionalAttributes="{loading: 'lazy'}"/>
                                </f:then>
                                <f:else>
                                    <f:image src="EXT:extended_bootstrap_package/Resources/Public/Images/dummy_testimonial.png" class="img-fluid d-flex mx-auto" additionalAttributes="{loading: 'lazy'}"/>
                                </f:else>
                            </f:if>
                        </div>
                        <div class="card-text">
                            <div class="card-title">{item.data.title}</div>
                            <f:format.html>{item.data.text}</f:format.html>
                        </div>
                        <div class="footer"><span id="name">{item.data.client_name}<br></span> <span id="position">{item.data.client_position}<f:if
                            condition="{item.data.company_name}">,</f:if>
                                <f:if condition="{item.data.company_url}">
                                <f:then>
                                    <a href="{item.data.company_url}">&nbsp;{item.data.company_name}</a>
                                </f:then>
                                <f:else>
                                     &nbsp;{item.data.company_name}
                                </f:else>
                            </f:if>
                            </span></div>
                    </div>
                </div>
            </f:for>

        </div>
    </div>
</f:section>
<f:section name="testimonial-slider">
    <div class="testimonial-slider">
        <div id="carousel-{data.uid}" class="carousel slide" {f:if(condition: data.pi_flexform.interval, then:
        'data-interval="{data.pi_flexform.interval}"
        ')}data-wrap="{f:if(condition:data.pi_flexform.wrap,then:'true',else:'false')}" data-ride="carousel">
        <f:if condition="{data.pi_flexform.indicators}">
            <ol class="carousel-indicators">
                <f:for each="{records}" as="item" iteration="count">
                    <li data-target="#carousel-{data.uid}" data-slide-to="{count.index}" {f:if(condition: count.isFirst,
                        then:
                    'class="active"')}></li>
                </f:for>
            </ol>
        </f:if>
        <div class="carousel-inner">
            <f:for each="{records}" as="item" iteration="count">
                <div class="carousel-item {f:if(condition: count.isFirst, then: 'active')}">
                    <div class="carousel-caption">

                        <f:format.html>{item.data.text}</f:format.html>
                        <f:if condition="{item.avatar.0}">
                            <f:then>
                                <f:image image="{item.avatar.0}" class="img-fluid" additionalAttributes="{loading: 'lazy'}"/>
                            </f:then>
                            <f:else>
                                <f:image src="EXT:extended_bootstrap_package/Resources/Public/Images/dummy_testimonial.png" class="img-fluid" additionalAttributes="{loading: 'lazy'}"/>
                            </f:else>
                        </f:if>
                        <div id="image-caption">{item.data.client_name}
                            <f:if condition="{item.data.company_name}">, {item.data.company_name}</f:if>
                        </div>
                    </div>
                </div>
            </f:for>

        </div>
        <f:if condition="{data.pi_flexform.controls}">
            <a class="carousel-control-prev" href="#carousel-{data.uid}" data-slide="prev"> <i
                class='fas fa-arrow-left'></i> </a> <a class="carousel-control-next" href="#carousel-{data.uid}"
                                                       data-slide="next"> <i class='fas fa-arrow-right'></i> </a>
        </f:if>
    </div>
</div>
    <ebp:script>
        // Set all carousel items to the same height
        function carouselNormalization() {

        window.heights = [], //create empty array to store height values
        window.tallest; //create variable to make note of the tallest slide

        function normalizeHeights() <f:format.raw>{</f:format.raw>
        jQuery('#carousel-{data.uid}').each(function()  <f:format.raw>{</f:format.raw> //add heights to array
        window.heights.push(jQuery(this).outerHeight());
        });
        window.tallest = Math.max.apply(null, window.heights); //cache largest value
        jQuery('#carousel-{data.uid}').each(function()  <f:format.raw>{</f:format.raw>
        jQuery(this).css('min-height',tallest + 'px');
        });
        }
        normalizeHeights();

        jQuery(window).on('resize orientationchange', function ()  <f:format.raw>{</f:format.raw>

        window.tallest = 0, window.heights.length = 0; //reset vars
        jQuery('#carousel-{data.uid}').each(function()  <f:format.raw>{</f:format.raw>
        jQuery(this).css('min-height','0'); //reset min-height
        });

        normalizeHeights(); //run it again

        });

        }

        jQuery( document ).ready(function()  <f:format.raw>{</f:format.raw>
        carouselNormalization();
        });
        </ebp:script>
</f:section>
</html>
