<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">

<f:variable name="columns">12</f:variable>

<f:if condition="{data.layout} > 2000 && {data.layout} < 2012">

    <f:variable name="textimageinputsize">{data.layout -2000}</f:variable>
    <f:variable name="textimage-textsize">col-md-{columns -textimageinputsize}</f:variable>
    <f:variable name="textimage-imagesize">col-md-{textimageinputsize}</f:variable>

</f:if>

    <f:variable name="imageConfig">{settings.responsiveimages.contentelements.textpic.right}</f:variable>
    <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{imageConfig.multiplier}" gutters="{imageConfig.gutters}" corrections="{imageConfig.corrections}" />
    <div class="textpic textpic-right">
        <div class="textpic-item textpic-gallery {textimage-imagesize}">
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </div>
        <div class="textpic-item textpic-text {textimage-textsize}">
            <f:render partial="Header/All" arguments="{_all}" />
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </div>

</f:section>
</html>
