<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="section footer-section footer-section-content">
    <div class="{f:if(condition:settings.footer.fullwidth, then:'container-fluid', else:'container')}">
        <div class="section-row">
            <div class="section-column footer-section-content-column footer-section-content-column-left">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '10', slide: '-1'}" />
            </div>
            <div class="section-column footer-section-content-column footer-section-content-column-middle">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '11', slide: '-1'}" />
            </div>
            <div class="section-column footer-section-content-column footer-section-content-column-right">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '12', slide: '-1'}" />
            </div>
        </div>
    </div>
</section>
</html>
