<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"  xmlns:ebp="http://typo3.org/ns/T3graf/ExtendedBootstrapPackage/ViewHelpers"data-namespace-typo3-fluid="true">

<f:if condition="{theme.headertopinfo.enabled}">
	<div id="top-bar" class="collapse show navbar-collapse header-top-info-{theme.navigation.style}">
		<f:render partial="Structure/HeaderTopInfoContent" arguments="{_all}" />
	</div>

</f:if>
<f:if condition="{theme.headertopinfo.enabled} && {theme.navigation.type} == top">
    <f:asset.script identifier="topinfo" src="EXT:extended_bootstrap_package/Resources/Public/JavaScript/Src/topbar.js" />
</f:if>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">ll:Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <f:render partial="Structure/HeaderTopInfoContentOffcanvas" arguments="{_all}" />
        </div>
    </div>
</div>
