<html data-namespace-typo3-fluid="true" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"  xmlns:ebp="http://typo3.org/ns/T3graf/ExtendedBootstrapPackage/ViewHelpers"xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="{f:if(condition:settings.navbar.fullwidth, then:'container-fluid', else:'container')}">
	<div class="row align-items-center">
		<div class="col-lg-12 col-md-12">
<div class="topinfobar-left">

        <f:if condition="{theme.headertopinfo.items.address}">

            <f:if condition="{theme.contact.data.addressLine1}"><span class="header-top-info-text"><i class="fas fa-map-marker-alt"></i> {theme.contact.data.addressLine1}</span><br/></f:if>
                <f:if condition="{theme.contact.data.addressLine2}">
                    <span class="contact-text">
                    <f:if condition="!{theme.contact.data.addressLine1}"><i class="fas fa-map-marker-alt"></i> </f:if>
                    {theme.contact.data.addressLine2}</span><br/></f:if>
                <f:if condition="{theme.contact.data.addressLine3}"><span class="contact-text"> {theme.contact.data.addressLine3}</span><br/></f:if>

        </f:if>
        <f:if condition="{theme.headertopinfo.items.contact}">

                <i class="fas fa-envelope"></i> <f:link.email class="header-top-info-link" email="{theme.contact.data.email}"/></span><br/>
            </f:if>
            <f:if condition="{theme.contact.data.phone}">
                <i class="fas fa-phone-alt"></i> <ebp:link.phone class="header-top-info-link" phone="{theme.contact.data.phone}"/></span><br/>
            </f:if>
            <f:if condition="{theme.contact.data.openinghours}">
                <i class="far fa-clock"></i> {theme.contact.data.openinghours}</span><br/>
            </f:if>



</div>
		</div>

            <div class="col-lg-12 col-md-12">
                <div class="topinfobar-right">
                    <ul class="list-inline">
                        <f:if condition="{theme.headertopinfo.items.sociallinks}">
                            <f:for each="{theme.socialmedia.channels}" key="channelKey" as="channelOptions">
                                <f:if condition="{channelOptions.url}">
                                    <li title="{channelOptions.label}">
                                        <a class="list-inline-item mx-0" href="{channelOptions.url}" rel="noopener" target="_blank">
                                            <span class="sociallinks-link-icon bootstrappackageicon bootstrappackageicon-{channelKey}"></span>
                                        </a>
                                    </li>
                                </f:if>
                            </f:for>
                        </f:if>
                        <li>
                            <f:if condition="{theme.headertopinfo.items.languageMenu}">

                                <span class="list-inline-item mx-0 header-top-info-text">
                                 <div class="dropdown">
  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <f:for each="{languagenavigation}" as="item">
                   <f:if condition="{item.active}">
                       <!--span><core:icon identifier="{item.flag}" size="small" /></span-->
                       <span> {item.navigationTitle}</span>
                   </f:if>
                    </f:for>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <f:for each="{languagenavigation}" as="item">
          <f:if condition="{item.available}">
            <li class="dropdown-item {f:if(condition: item.active, then: 'active')} {f:if(condition: item.available, else: 'text-muted')}">


                        <a href="{item.link}" hreflang="{item.hreflang}" title="{item.title}" >
                            <span class="dropdown-item"><!--core:icon identifier="{item.flag}" size="small" /--> {item.navigationTitle}</span>
                        </a>

                  </li>
                </f:if>

        </f:for>
  </ul>
</div>
                                </span>

                            </f:if>
                        </li>
                        <li>
                            <f:if condition="{theme.headertopinfo.items.loginLink.enable}">

                            <span class="list-inline-item mx-0 ">
                               <f:link.page pageUid="{theme.headertopinfo.items.loginLink.pageUid}">{theme.headertopinfo.items.loginLink.lable}</f:link.page>
                            </span>

                            </f:if>
                        </li>
                    </ul>
                </div>
            </div>


</div>
</div>
