//
// Backend Layouts
//

//
// Page without Menus and short Footer
//

.size {
    width: 100%;
    min-height: 100vh;
}
#wrapper {
    min-height: calc(100vh - 5em - 6px);
}
.overlay {
    color: $maintain-color;
    position: relative;
    z-index: 1;
}
.overlay a {
    color: $maintain-color;
    text-decoration: none;
}
.overlay a:hover{
    color: $maintain-hover-color;
}
.overlay::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //background-color: rgba(0,0,0,0.8);
}

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.simpleslide {
    display: block;
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.simpleslide-item {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
//
// Footer Copyright
// --------------------------------------------------
.maintain-footer-copyright {
    p {
        margin-bottom: 0;
        text-align: center;
    }
}
