//
// Icon Group
//

//
// Component
//
.countergroup {
  display: flex;
  flex-wrap: wrap;
  margin: -$countergroup-margin !important;
}

// Alignment
.countergroup-align-left {
  justify-content: flex-start;
}
.countergroup-align-center {
  justify-content: center;
}
.countergroup-align-right {
  justify-content: flex-end;
}

// Icon Position

.countergroup-iconposition-left-center {
  .countergroup-item {
	align-items: center;
  }
}

.countergroup-iconposition-above
{
  .countergroup-item {
	flex-wrap: wrap;
  }
  .countergroup-item-text {
	width: 100%;
	text-align: center;
  }
   .countergroup-item-icon {
	margin-left: auto;
	margin-right: auto;
  }
}
.countergroup-color-primary {
    color: $primary;
}
.countergroup-color-secondary {
    color: $secondary;
}
.countergroup-color-tertiary {
    color: $tertiary;
}
.countergroup-color-quaternary {
    color: $quaternary;
}
.countergroup-color-light {
    color: $light;
}
.countergroup-color-dark {
    color: $dark;
}
// Items
.countergroup-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: $countergroup-margin;
  width: 100%;
}
.countergroup-item-icon {
  flex-shrink: 0;
  margin-right: $countergroup-margin;
  svg {
	display: block;
  }
}
.countergroup-item-text {
  flex-grow: 1;
  > *:last-child {
	margin-bottom: 0;
  }
}
.countergroup-header-default {
    font-size: 1.094rem;
    line-height: 0px;
}
.countergroup-counterval-default {
    font-size: 2.188rem;
}
.countergroup-header-medium {
    font-size: 1.562rem;
    line-height: 0px;
}
.countergroup-counterval-medium {
    font-size: 3.125rem;
}
.countergroup-header-large {
    font-size: 1.87rem;
    line-height: 0px;
}
.countergroup-counterval-large {
    font-size: 3.75rem;
}
.countergroup-header-awesome {
    font-size: 2.5rem;
    line-height: 0px;
}
.countergroup-counterval-awesome {
    font-size: 5rem;
}

.countergroup-item-text-header {
  margin-bottom: .15em;
}
.countergroup-item-text-counterval {
  margin: 0;
  font-weight: bold;
}
.countergroup-item-text-prefix {
  margin: 0;
  font-weight: bold;
}.countergroup-item-text-suffix {
  margin: 0;
  font-weight: bold;
}

// Columns
.countergroup-columns-auto {
  .countergroup-item {
	width: auto;
  }
}
.countergroup-columns-2 {
  .countergroup-item {
	@include media-breakpoint-up('sm') {
	  width: calc(100% / 2 - #{$countergroup-margin} * 2);
	}
  }
}
.countergroup-columns-3 {
  .countergroup-item {
	@include media-breakpoint-up('md') {
	  width: calc(100% / 3 - #{$countergroup-margin} * 2);
	}
  }
}
.countergroup-columns-4 {
  .countergroup-item {
	@include media-breakpoint-up('sm') {
	  width: calc(100% / 2 - #{$countergroup-margin} * 2);
	}
	@include media-breakpoint-up('xl') {
	  width: calc(100% / 4 - #{$countergroup-margin} * 2);
	}
  }
}
.countergroup-columns-5 {
  .countergroup-item {
	@include media-breakpoint-up('md') {
	  width: calc(100% / 5 - #{$countergroup-margin} * 2);
	}
  }
}
.countergroup-columns-6 {
  .countergroup-item {
	@include media-breakpoint-up('sm') {
	  width: calc(100% / 2 - #{$countergroup-margin} * 2);
	}
	@include media-breakpoint-up('xl') {
	  width: calc(100% / 6 - #{$countergroup-margin} * 2);
	}
  }
}
