/*.countdown, .countdown-done {
    display: flex;
    text-align: center;
}
*/

.countdown-border{
    border: solid;
    padding: 1.25rem;
}
.countdown-border-color-primary {
    border-color: transparent;
    background-color: rgba(scale-color($primary, $lightness: 30%), .5);
}
.countdown-border-color-secondary {
    border-color: $secondary;
    background-color: rgba(scale-color($secondary, $lightness: 30%), .5);
}
.countdown-border-color-tertiary {
    border-color: $tertiary;
    background-color: scale-color($tertiary, $lightness: 30%);
}
.countdown-border-color-quaternary {
    border-color: $quaternary;
    background-color: scale-color($quaternary, $lightness: 30%);
}
.countdown-border-color-light {
    border-color: $light;
    background-color: scale-color($light, $lightness: 30%);
}
.countdown-border-color-dark {
    border-color: $dark;
    background-color: scale-color($dark, $lightness: 30%);
}
.countdown-color-primary {
    color: $primary;
}
.countdown-color-secondary {
    color: $secondary;
}
.countdown-color-tertiary {
    color: $tertiary;
}
.countdown-color-quaternary {
    color: $quaternary;
}
.countdown-color-light {
    color: $light;
}
.countdown-color-dark {
    color: $dark;
}
.countdown-color-white {
    color: $white;
}
.countdown-done-text {
    font-size: 4vw;
}

.countdown-container {
    display: flex;
    max-width: fit-content;
    justify-content: space-between;
}

.days-container,
.hours-container,
.minutes-container,
.seconds-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(0,0,0,0.1);*/
    /*border: 5px solid rgba(255,255,255,0.3)*/;
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 50%;

}

.days-container,
.hours-container,
.minutes-container {
    margin-right: 2.34rem;
}

.day .num,
.hour .num,
.min .num,
.sec .num {
    font-size: 2.5em;
    margin: 10px 0;
}


.days-label,
.hours-label,
.minutes-label,
.seconds-label {
    text-transform: uppercase;
    margin-bottom: 15px;
}

@media (max-width: 800px) {

    .countdown-container {
      /*  max-width: 90%; */
    }

    .days-container,
    .hours-container,
    .minutes-container,
    .seconds-container {
        font-size: 0.8em;
        width: 100px;
        height: 100px;
    }
}
