.cta-buttons {
    hr {
        height: 2px;
    }
    .btn {
        margin-right: 16px;
    }
    .btn-text {
        vertical-align: top;
    }
    svg {
        margin-bottom: 0.1rem;
    }
    .btn-icon-left {
        margin-right: 0.25rem;
    }
    .btn-icon-right {
        margin-left: 0.25rem;
    }
    .divider-primary{
        color: $primary;
        border-color: $primary;
    }
    .divider-secondary{
        color: $secondary;
        border-color: $secondary;
    }
    .divider-tertiary{
        color: $tertiary;
        border-color: $tertiary;
    }
    .divider-quaternary{
        color: $quaternary;
        border-color: $quaternary;
    }
    .divider-light{
        color: $light;
        border-color: $light;
    }
    .divider-dark{
        color: $dark;
        border-color: $dark;
    }

}
@include media-breakpoint-up(xs) {
    .cta-buttons .btn {
        margin-bottom: 16px;
    }
}
