main {
    min-height: 100vH;
    background-color: $body-bg;
    z-index: 1;
    position: relative;
}
.carousel {
    z-index: 1;
}
.breadcrumb-section-slide-footer {
    position: relative;
    z-index: 1;
}
.bp-page-slide-footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index:0;
}

@include media-breakpoint-down(md) {
    .bp-page-slide-footer {
        position: relative;
       // z-index:0;
    }
}
