.grid-background-primary{
    background-color:$primary;
    color:color-contrast($primary);
}
.grid-background-secondary{
    background-color:$secondary;
    color:color-contrast($secondary);
}
.grid-background-tertiary{
    background-color:$tertiary;
    color:color-contrast($tertiary);
}
.grid-background-quaternary{
    background-color:$quaternary;
    color:color-contrast($quaternary);
}
.grid-background-light{
    background-color:$light;
    color:color-contrast($light);
}
.grid-background-dark{
    background-color:$dark;
    color:color-contrast($dark);
}

.grid-frame {
    @extend .frame;
    padding: 1.25rem;
    width: 100%;
}
.grid-padding {
    padding:1.25rem;
}
.grids-frame {
    @extend .grid-frame;
    padding: 0rem;
    /*position: relative;
    margin-top: var(--frame-outer-spacing-before);
    margin-bottom: var(--frame-outer-spacing-after);
    //padding-top: var(--frame-spacing);
    //padding-bottom: var(--frame-spacing);
    color: var(--frame-color);
    background: var(--frame-background);
    a[class=""],
    a:not([class]) {
        color: var(--frame-link-color);
        &:hover {
            color: var(--frame-link-hover-color);
        }
    }
    @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
        @include media-breakpoint-up($breakpoint) {
            --frame-spacing: var(--frame-spacing-#{$breakpoint});
        }
    }*/
}
.col-frame-has-backgroundimage {
    background-position: center;
    background-size: cover;
    --frame-background: none;
}

.frame-type-ce_tile {
    margin-top: unset;
    padding-top: $tile-gutter;
    padding-bottom: $tile-gutter;

}
.ce-tile-row,
:not(.ce-tile-col) > .tile {
    margin-left: -$tile-gutter;
    margin-right: -$tile-gutter;
    &:nth-of-type(1) {
        margin-top: -$tile-gutter;
    }
    &:nth-last-of-type(1) {
        margin-bottom: -$tile-gutter;
    }
    .tile-row, .ce-tile-row {
        margin: 0;
    }
}

.ce-tile-col {
    padding: $tile-gutter;

    .frame {
        padding-top: $tile-gutter;
        padding-bottom: $tile-gutter;
    }
    .frame-container, .frame-backgroundimage-container {
        //position: absolute;
        //left: $tile-gutter;
        //top: $tile-gutter;
        //right: $tile-gutter;
        //bottom: $tile-gutter;
        //width: auto;
        //height: auto;
    }
    .frame-container {
        overflow: hidden;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25rem
    }
}
