.accordion-header-h1{
    font-size: $h1-font-size;
}.accordion-header-h2{
    font-size: $h2-font-size;
}.accordion-header-h3{
    font-size: $h3-font-size;
}.accordion-header-h4{
    font-size: $h4-font-size;
}
.accordion-header-h5{
    font-size: $h5-font-size;
}
.accordion-header-h6{
    font-size: $h6-font-size;
}
