.gt-tabs-button{
    border: none;
    border-radius:0;
}
.gt-tabs-button .nav-link:hover{
    border: none;
    border-radius:0;
}

.tab-primary .nav-tabs .nav-link{
    border:unset;
    border-radius:0;
    background-color:$secondary;
    color:$white;
}
.tab-primary .nav-tabs .nav-link:hover{
    background-color:lighten($secondary,10%);

}
.tab-primary .nav-tabs .nav-link.active {

    color: $white;
    border: unset;
    background-color: $primary;
    border-radius:0;
}
.tab-secondary{
    //background: $dark;
    //color: $primary;
}
.tab-secondary .nav-tabs .nav-link{
    border:unset;
    border-radius:0;
    background-color:$primary;
    color:$white;
}
.tab-secondary .nav-tabs .nav-link:hover{
    background-color:lighten($primary,10%);

}
.tab-secondary .nav-tabs .nav-link.active {

    color: $white;
    border: unset;
    background-color: $secondary;
    border-radius:0;
}
.tab-tertiary{
    //background: $dark;
    //color: $primary;
}
.tab-tertiary .nav-tabs .nav-link{
    border:unset;
    border-radius:0;
    background-color:$quaternary;
    color:$white;
}
.tab-tertiary .nav-tabs .nav-link:hover{
    background-color:lighten($quaternary,10%);

}
.tab-tertiary .nav-tabs .nav-link.active {

    color: $white;
    border: unset;
    background-color: $tertiary;
    border-radius:0;
}
.tab-quaternary{
    //background: $dark;
    //color: $primary;
}
.tab-quaternary .nav-tabs .nav-link{
    border:unset;
    border-radius:0;
    background-color:$tertiary;
    color:$white;
}
.tab-quaternary .nav-tabs .nav-link:hover{
    background-color:lighten($tertiary,10%);

}
.tab-quaternary .nav-tabs .nav-link.active {

    color: $white;
    border: unset;
    background-color: $quaternary;
    border-radius:0;
}
.tab-light{
    //background: $dark;
    //color: $primary;
}
.tab-light .nav-tabs .nav-link{
    border:unset;
    border-radius:0;
    background-color:$dark;
    color:$white;
}
.tab-light .nav-tabs .nav-link:hover{
    background-color:lighten($dark,10%);

}
.tab-light .nav-tabs .nav-link.active {

    color: $white;
    border: unset;
    background-color: $light;
    border-radius:0;
}
.tab-dark{
    //background: $dark;
    //color: $primary;
}
.tab-dark .nav-tabs .nav-link{
    border:unset;
    border-radius:0;
    background-color:$light;
    color:$white;
}
.tab-dark .nav-tabs .nav-link:hover{
    background-color:lighten($light,10%);

}
.tab-dark .nav-tabs .nav-link.active {

    color: $white;
    border: unset;
    background-color: $dark;
    border-radius:0;
}
