.header-top-info-default {
    position: relative;
    background-color: $topbar-bg;
    color: $topbar-color;
    padding-top: .625rem;
    font-size: 0.875rem;
    z-index: 1000;
    min-height: 3.125rem;
    a {
        color: $topbar-color;
        &:hover {
            color: $topbar-hover-color;
        }
    }
}
.header-top-info-default-transition {
    @extend .header-top-info-default;
}
.header-top-info-inverse {
    @extend .header-top-info-default;
    background-color: $topbar-bg-inverse;
    color: $topbar-inverse-color;
    a {
        color: $topbar-inverse-color;
        &:hover {
            color: $topbar-inverse-hover-color;
        }
    }
}
.header-top-info-inverse-transition {
    @extend .header-top-info-default-transition;
    background-color: $topbar-bg-inverse;
    color: $topbar-inverse-color;
    a {
        color: $topbar-inverse-color;
        &:hover {
            color: $topbar-inverse-hover-color;
        }
    }
}
.header-top-info-link {
    padding-left: 0.25rem;
}
.header-top-info-text {
    padding-left: 0.25rem;
}
.topinfobar-right {
    float: right;
    @include media-breakpoint-down('lg') {
        float: left;
    }
}
.topinfobar-left {
  float: left;
    @include media-breakpoint-down('lg');
}
.header-top-info-active {
    z-index: -99;
    margin-top: -110px;
    @include media-breakpoint-down('lg') {
        margin-top: 0;
    }
}

.contact-text {
    @include media-breakpoint-down('lg') {
        width: 100%;
        display: block;
        padding-left: 20px;
    }
}
