/* ============ mobile view ============ */
@media(max-width: 991px){
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
        overflow-y: auto;
        max-height: 90vh;
        margin-top:10px;
    }
}

.dropdown-menu-large{ padding:20px; }
.dropdown-menu-large-headline{
  @extend .dropdown-item;
  color: $primary;
  border-bottom: 1px solid $light;
}
.dropdown-menu-large-headline:hover{
  @extend .dropdown-menu-large-headline:hover;
  text-decoration: none;
  background-color: transparent;
  color: $primary;
}
.active.dropdown-menu-large-headline {
    color: $primary;
    background-color: transparent;
}
.dropdown-menu-large-submenu{
  padding-left: 0;
  list-style: none;
}
@media all and (max-width: 991px) {
  .dropdown-menu-large-headline{
    @extend .dropdown-item;
    color: $primary !important;
    border-bottom: 1px solid $light;
  }

}
@media all and (min-width: 992px) {
  .dropdown-menu-large{
      min-width: 800px;
      left: -350px;
  }
}


