.navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu{position:static!important;}
    .navbar .megamenu{left:25px; right:0; width:97%; margin-top:0; top:unset; }

}
/* ============ desktop view .end// ============ */
