.pricing-table {
    .card {
        //border: none;
        border-radius: 5px;
        transition: all 0.2s;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .card-header {
     // background-color:red;
    }

    .is-featured {
        background-color: rgba(#4dbe3b,0.1);
        border-color: #4dbe3b;
        border-width: 3px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        border-bottom: 1px solid #ededed;
        line-height: 2.9;
        //font-size: .9em;
    }

    li:last-child{
        border:none;
    }

    .card-footer {
        background-color:transparent;
        border:none;
    }

    hr {
        margin: 1.5rem 0;
    }

    .card-title {
        margin: 0.5rem 0;
        font-size: 2rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding-top: 1.875rem;
    }
    .plan-icon {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }
    .button-icon {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    .card-price {
        font-weight: bold;
        font-size: 3rem;
        margin: 0;
        .currency {
            font-size: 70%;
            position: relative;
            top: -20px;
            letter-spacing: 0px;
        }
        .period {
            font-size: 0.8rem;
        }
    }

    .text-muted {
        opacity: 0.7;
    }

    .btn {
        //font-size: 80%;
        //border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        //opacity: 0.7;
        //transition: all 0.2s;
    }

}

.ribbon {
        width:100%;
        height: 32px;
        font-size: 24px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
        background: #4dbe3b;
        position: absolute;
        right: 0px;
    top:0px;
    }

/* Hover Effects on Card */

@include media-breakpoint-up(md) {
    .pricing-table .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);

    }
}

@include media-breakpoint-up(xs) {
    .pricing-table .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);

    }
}
