.progress-container {
    margin-left:auto;
    margin-right: auto;
    width: 100%;
}

.progress-bar-text-line {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}
.progress-bar-text-circle {
    margin-bottom: 0.1rem;
}
.thumbnail-mod-1 {
    margin-left: auto;
    margin-right: auto;
}

.inline-block {
    text-align: center;
    margin-top: 1.0rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .progress-container {
        margin-left:0;
        margin-right: auto;
        width: 90%;
    }

    .thumbnail-mod-1 {
        max-width: 100px;
    }
    .progress-bar-text-circle {
        margin-bottom: 0.9rem;
    }
}

.progress-bar-wrap {
    max-width: 100%;
    width: 210px;
}

.progress-bar {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    color: inherit;
    .progress-bar__body {
        position: absolute;
        right: 50%;
        width: 100%;
        top: 50%;
        padding: 0;
        margin: 0;
        text-align: center;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        &:after {
            content: '%';
        }
    }
    .progress-bar__stroke {
        stroke-linejoin: round;
    }
    .progress-bar__trail {
        stroke-linejoin: round;
    }
}

.progress-bar-horizontal {
    text-align: left;
    > svg {
    }
    .progress-bar__body {
        width: auto!important;
        top: -23px;
        right: 0;
    }
}
.progress-bar-radial {
    position: relative;
    padding-bottom: 100%;
    background-color: inherit;
    margin-bottom: 0;
    > svg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 5px;
        overflow: hidden;
    }
}
