:root {
    //
    // Font
    // --------------------------------------------------
    --ebp-headings-font-family: #{inspect($font-family-base)};
    @if ($headings-font-family) {
        --ebp-headings-font-family: #{inspect($headings-font-family)};
    }

    //
    // Navbar
    // --------------------------------------------------
    --ebp-navbar-dark-bg: #{$navbar-dark-bg};
    --ebp-navbar-dark-bg-rgb: #{to-rgb($navbar-dark-bg)};
    --ebp-navbar-light-bg: #{$navbar-light-bg};
    --ebp-navbar-light-bg-rgb: #{to-rgb($navbar-light-bg)};
    --ebp-navbar-bg-opacity: #{$ebp-navbar-bg-opacity};

    //
    // Set frame border-radius, headings and links
    // --------------------------------------------------
    --frame-embedded-border-radius: 0;
    @if ($enable-rounded) {
        --frame-embedded-border-radius: #{$frame-embedded-border-radius};
    }
    --ebp-frame-headings-color: #{$headings-color};
    --ebp-frame-link-decoration: null;
    --ebp-frame-link-decoration-style: null;
    --ebp-frame-link-weight: null;
}
