.background-primary {
    background-color: $primary;
}
.background-secondary {
    background-color: $secondary;
}
.background-tertiary {
    background-color: $tertiary;
}
.background-quaternary {
    background-color: $quaternary;
}
.background-light {
    background-color: $light;
}

.background-dark {
    background-color: $dark;
}
.ce-container.container-fluid .frame-container {
    margin-right: unset;
    margin-left: unset;
}

.frame-backgroundimage-behaviour-cover {
    background-size: cover;
}
