.team-list{
  .card-img-top{
        max-width: 100%;
       height: auto;
    }
    .card-title {
        font-weight:bolder;
    }
    .card-subtitle {
        font-weight:bold;
    }

    .profile .img-box{
        opacity: 1;
        display: block;
        position: relative;
    }
    .profile .img-box:after{
        content:"";
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .img-box ul{
        position: absolute;
        z-index: 2;
        bottom: 50px;
        text-align: center;
        width: 100%;
        padding-left: 0px;
        height: 0px;
        margin:0px;
        opacity: 0;
    }
    .profile .img-box:after, .img-box ul, .img-box ul li{
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }
    .img-box ul i{
        font-size: 2rem;
        letter-spacing: 10px;
    }
    .img-box ul li{
        width: 30px;
        height: 30px;
        text-align: center;
        margin: 2px;
        padding: 5px;
        display: inline-block;
    }
    .img-box a{
       color:$link-color;
    }
    .img-box:hover:after{
        opacity: 1;
    }
    .img-box:hover ul{
        opacity: 1;
    }
    .img-box ul a{
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .img-box a:hover li{
       color: $link-hover-color;
    }
    a{

      color:$link-color;
    }
    a:hover{
        text-decoration:none;
        color:$link-hover-color;
    }
}
