.testimonial-card-deck {
    .card {
        border-radius: 1rem;
        box-shadow: 0px -10px 0px $primary
    }

    @media(max-width: 767px) {
        .card {
            margin: 1rem 0.7rem 1rem;
            max-width: 80vw
        }
    }

    img {
        width: 6.2rem;
        border-radius: 5rem;
        margin: 1.3rem auto 1rem auto
    }

    .col-md-4 {
        padding: 0 0.5rem
    }

    .card-title {
        font-size: $card-title-size;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .card-text {
        text-align: center;
        padding: 1rem 2rem;
        color: rgb(82, 81, 81);
        line-height: 1.4rem
    }

    .footer {
        border-top: none;
        text-align: center;
        line-height: 1.2rem;
        padding: 2rem 0 1.4rem 0;
    }

    #name {
        font-weight: bold
    }

    #position {

    }

    a {
        color: $primary;
        font-weight: bold
    }

    a:hover {
        color: $primary;
    }
}
.frame-background-primary {
    .testimonial-slider {
        i {
            background-color:$dark;
        }
    }
}
.frame-background-dark {

    .testimonial-slider {
        .carousel-indicators li {
            background-color: $light;
        }
        a {
            color: $light;
        }

        a:hover {
            color: $dark;
        }
    }
}
.frame-background-light {
    .testimonial-slider {
        .carousel-indicators li {
            background-color: $dark;
        }
        a {
            color: $light;
        }

        a:hover {
            color: $dark;
        }
    }
}
.testimonial-slider {

    .carousel-indicators {
        opacity: 1;
    }
    .carousel-indicators li {
        background-color: $dark;
    }

    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 5rem 8rem;
        color: inherit;
        text-align: center;
        font-size: 1.2rem;
        font-style: italic;
        font-weight: bold;
        line-height: 2rem
    }

    @media(max-width:767px) {
        .carousel-caption {
            position: initial;
            z-index: 10;
            padding: 3rem 2rem;
            color: inherit;
            text-align: center;
            font-size: 0.7rem;
            font-style: italic;
            font-weight: bold;
            line-height: 1.5rem
        }
    }

    .carousel-caption img {
        width: 6rem;
        border-radius: 5rem;
        margin-top: 2rem
    }

    @media(max-width:767px) {
        .carousel-caption img {
            width: 4rem;
            border-radius: 4rem;
            margin-top: 1rem
        }
    }

    #image-caption {
        font-style: normal;
        font-size: 1rem;
        margin-top: 0.5rem
    }

    @media(max-width:767px) {
        #image-caption {
            font-style: normal;
            font-size: 0.6rem;
            margin-top: 0.5rem
        }
    }

    i {
        background-color: $primary;
        padding: 1.4rem
    }

    @media(max-width:767px) {
        i {
            padding: 0.8rem
        }
    }

    .carousel-control-prev {
        justify-content: flex-start
    }

    .carousel-control-next {
        justify-content: flex-end
    }

    .carousel-control-prev,
    .carousel-control-next {
        transition: none;
        opacity: unset
    }
}
