@include media-breakpoint-up(sm) {
    .textmedia, .textpic {

        flex-wrap: nowrap;

    }
    .textmedia-item.col-md-1,
    .textpic-item.col-md-1 {
        width: 8%
    }
    .textmedia-item.col-md-2,
    .textpic-item.col-md-2 {
        width: 16%
    }
    .textmedia-item.col-md-3,
    .textpic-item.col-md-3 {
        width: 25%
    }
    .textmedia-item.col-md-4,
    .textpic-item.col-md-4 {
        width: 33%
    }
    .textmedia-item.col-md-5,
    .textpic-item.col-md-5 {
        width: 41%
    }
    .textmedia-item.col-md-6,
    .textpic-item.col-md-6 {
        width: 50%
    }
    .textmedia-item.col-md-7,
    .textpic-item.col-md-7 {
        width: 58%;
        flex-wrap: nowrap;
    }
    .textmedia-item.col-md-8,
    .textpic-item.col-md-8 {
        width: 66%
    }
    .textmedia-item.col-md-9,
    .textpic-item.col-md-9 {
        width: 75%
    }
    .textmedia-item.col-md-10,
    .textpic-item.col-md-10 {
        width: 83%
    }
    .textmedia-item.col-md-11,
    .textpic-item.col-md-11 {
        width: 91%
    }
}
