$fa-font-path:        "../../../Public/Fonts/Fontawesome/webfonts";

$countergroup-margin: ($grid-gutter-width / 2) !default;
$countergroup-icon-size: 60px !default;
$countergroup-item-width: 50% !default;
$topbar-bg: #ffffff !default;
$topbar-bg-inverse: #313131 !default;
$topbar-color: #313131 !default;
$topbar-hover-color: shift-color($topbar-color, $link-shade-percentage) !default;
$topbar-inverse-color: #ffffff !default;
$topbar-inverse-hover-color: shift-color($topbar-inverse-color, $link-shade-percentage) !default;
$tile-gutter: 5px;

$maintain-color: #ffffff !default;
$maintain-hover-color: shift-color($maintain-color, $link-shade-percentage) !default;

$navbar-dark-bg: #000 !default;
$navbar-light-bg: #fff !default;
$ebp-navbar-bg-opacity: 1 !default;
