.feature_list {
    .list-group {
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        //grid-gap: 1em;
    }

    .list-group-item {
 border:none;
        padding: 0px;
        text-align: center;
        background-color: transparent;
    }

    ul li a {
        display: block;
        padding: 5px;
    }

    ul li a:hover {
        text-decoration: none;
    }
    ul li .icon {
        width: 60px;
        height: 60px;
        line-height: 0;
        margin-right: 10px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;

    }
    .icon-circle{
        border-radius: 50%;
    }

    ul li p {
        display: table-cell;
        vertical-align: middle;
        padding: 0 0 0 10px;
    }
    .feature-list-link-white a {
        color: $link-color;
    }
    .feature-list-link-primary a {
        color: $primary;
    }
    .feature-list-link-secondary a {
        color: $secondary;
    }
    .feature-list-link-tertiary a {
        color: $tertiary;
    }
    .feature-list-link-quaternary a {
        color: $quaternary;
    }
    .feature-list-link-light a {
        color: $light;
    }
    .feature-list-link-dark a {
        color: $dark;
    }

    .feature-list-primary a:hover {
            background-color: $primary;
            color: $link-hover-color;
        }
    .feature-list-secondary a:hover {
            background-color: $secondary;
            color: $link-hover-color;
        }
    .feature-list-tertiary a:hover {
        background-color: $tertiary;
        color: $link-hover-color;
    }
    .feature-list-quaternary a:hover {
        background-color: $quaternary;
        color: $link-hover-color;
    }
    .feature-list-light a:hover {
            background-color: $light;
            color: $link-hover-color;
        }
    .feature-list-dark a:hover {
            background-color: $dark;
            color: $link-hover-color;
        }
    }

