<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:f="http://www.w3.org/1999/html"
      xmlns:f="http://www.w3.org/1999/html"
      data-namespace-typo3-fluid="true">
<f:layout name="Container" />
<f:section name="Main">
    <f:variable name="col_default">col-12 col-md-6 col-lg-6 grid-background-none frame-no-backgroundimage grid-padding</f:variable>
    <div class="grid-container grid-container-twocolumns">
        <div class="row grid-row grid-row-2{f:if(condition: flexform.noGutter, then: ' no-gutters g-0')}">
            <f:render section="101Column" arguments="{_all}" />
            <f:render section="102Column" arguments="{_all}" />
            </div>
        </div>
</f:section>
</html>

<f:section name="101Column">
    <f:variable name="col1_class">{f:if(condition: '{flexform.col_xs_1}', then: '{flexform.col_xs_1} ')}{f:if(condition: '{flexform.col_sm_1}', then: '{flexform.col_sm_1} ')}{f:if(condition: '{flexform.col_md_1}', then: '{flexform.col_md_1} ')}{flexform.col_lg_1}</f:variable>
    <f:variable name="backgroundClassCol1">grid-background-{f:if(condition: flexform.bg_color_col_1, then: flexform.bg_color_col_1)}</f:variable>
    <f:variable name="backgroundImageClassCol1">{f:if(condition: col1_bg_image.0, then: 'col-frame-has-backgroundimage', else: 'frame-no-backgroundimage')}</f:variable>
    <f:variable name="colBackgroundImageObject" value="{col1_bg_image.0}"/>
    <f:variable name="colli">col1</f:variable>

        <div {f:if(condition: col1_bg_image.0, then: 'id="frame-backgroundimage-{colli}-{data.uid}"')} class="{f:if(condition: col1_class, then: '{col1_class}', else: '{col_default}')} grid-column grid-column-1 {backgroundClassCol1} {backgroundImageClassCol1}{f:if(condition: flexform.equalHeight, then: ' d-inline-flex flex-row align-items-stretch')}{f:if(condition: flexform.PaddingCol1, then: ' grid-padding')}">

        <f:render partial="Frame/General/ColBgImages" arguments="{_all}" />
            <f:if condition="{flexform.PaddingCol1} && {flexform.equalHeight}">
                <f:then>
                    <div class="frame grid-frame">
                        <f:for each="{col_1}" as="child">
                            <f:format.raw>{child.renderedContent}</f:format.raw>
                        </f:for>
                    </div>
                </f:then>
                <f:else>
                    <f:for each="{col_1}" as="child">
                        <f:format.raw>{child.renderedContent}</f:format.raw>
                    </f:for>
                </f:else>
            </f:if>
        </div>

</f:section>
<f:section name="102Column">
    <f:variable name="col2_class">{f:if(condition: '{flexform.col_xs_2}', then: '{flexform.col_xs_2} ')}{f:if(condition: '{flexform.col_sm_2}', then: '{flexform.col_sm_2} ')}{f:if(condition: '{flexform.col_md_2}', then: '{flexform.col_md_2} ')}{flexform.col_lg_2}</f:variable>
    <f:variable name="backgroundClassCol2">grid-background-{f:if(condition: flexform.bg_color_col_2, then: flexform.bg_color_col_2)}</f:variable>
    <f:variable name="backgroundImageClassCol2">{f:if(condition: col2_bg_image.0, then: 'col-frame-has-backgroundimage', else: 'frame-no-backgroundimage')}</f:variable>
    <f:variable name="colBackgroundImageObject" value="{col2_bg_image.0}"/>
    <f:variable name="colli">col2</f:variable>

        <div {f:if(condition: col2_bg_image.0, then: 'id="frame-backgroundimage-{colli}-{data.uid}"')} class="{f:if(condition: col2_class, then: '{col2_class}', else: '{col_default}')} grid-column grid-column-2 {backgroundClassCol2} {backgroundImageClassCol2}{f:if(condition: flexform.equalHeight, then: ' d-inline-flex flex-row align-items-stretch')}{f:if(condition: flexform.PaddingCol2, then: ' grid-padding')}">
        <f:render partial="Frame/General/ColBgImages" arguments="{_all}" />

        <f:if condition="{flexform.PaddingCol2} && {flexform.equalHeight}">
            <f:then>
                <div class="frame grid-frame">
                    <f:for each="{col_2}" as="child">
                        <f:format.raw>{child.renderedContent}</f:format.raw>
                    </f:for>
                </div>
            </f:then>
            <f:else>

                <f:for each="{col_2}" as="child">
                    <f:format.raw>{child.renderedContent}</f:format.raw>
                </f:for>

            </f:else>
        </f:if>
        </div>


</f:section>
