<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Container" />
<f:section name="Main">
    <f:debug>{_all}</f:debug>
    <f:variable name="backgroundClass"> background-{f:if(condition: data.background_color_class, else: 'none', then: data.background_color_class)}</f:variable>
    <f:variable name="backgroundImageClass">{f:if(condition: backgroundImage.0, then: 'col-frame-has-backgroundimage', else: 'frame-no-backgroundimage')}</f:variable>
    <f:variable name="colBackgroundImageObject" value="{backgroundImage.0}"/>
    <f:variable name="colli">col1</f:variable>
    <f:if condition="{flexform.wrapSection} == '1'">
        <f:then>
            <div class="section section-default{f:if(condition: flexform.sectionClass, then: ' {flexform.sectionClass}')}">
                <f:render section="101Column" arguments="{_all}" />
            </div>
        </f:then>
        <f:else>
            <f:render section="101Column" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>
<f:section name="renderContent">

    {f:variable(name: 'css', value: '{css} {flexform.containerClass}') -> f:if(condition: flexform.containerClass)}
    {f:variable(name: 'css', value: '{css} container-fluid') -> f:if(condition: '{flexform.isContainerFluid} == "1"')}
    <div class="ce-container{css}{backgroundClass}" {f:if(condition: backgroundImage.0, then: 'id="frame-backgroundimage-{colli}-{data.uid}"')} {flexform.containerAttribute -> f:format.htmlentitiesDecode()}>
        <f:render partial="Frame/General/ColBgImages" arguments="{_all}" />
        <f:for each="{col_1}" as="child">
            <f:format.raw>{child.renderedContent}</f:format.raw>
        </f:for>
    </div>
</f:section>
</html>
