<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
    <f:debug>{_all}</f:debug>
    {f:variable(name: '_activeItemIndex', value: 1)}
    {f:variable(name: '_activeItemIndex', value: flexform.activeItemIndex) -> f:if(condition: '{flexform.activeItemIndex} > -1')}
    {f:if(condition: flexform.headerLayout, then: flexform.headerLayout, else: '3') -> f:variable(name: '_headingLayout')}
    <div class="accordion {f:if(condition:'{flexform.style}', then:'{flexform.style}')}"
         id="accordion-{data.uid}">
        <f:for each="{accordions}" as="accordion" iteration="iterator">
            <div class="accordion-item">
                <h{_headingLayout} class="accordion-header" id="accordion-heading-{accordion.uid}">
                {f:variable(name: '_expanded', value: 'false')}
                {f:variable(name: '_expanded', value: 'true') -> f:if(condition:'{iterator.cycle} == {_activeItemIndex}')}
                <button class="accordion-button accordion-header-h{_headingLayout}{f:if(condition:'{iterator.cycle} != {_activeItemIndex}', then:' collapsed')}" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordion-{accordion.uid}"
                        data-bs-parent="#accordion-{data.uid}"
                        aria-expanded="{_expanded}"
                        aria-controls="accordion-{accordion.uid}"
                >
                    {accordion.header}
                </button>
                </h{_headingLayout}>
                <div id="accordion-{accordion.uid}"
                     class="accordion-collapse collapse{f:if(condition:'{iterator.cycle} == {_activeItemIndex}', then:' show')}"
                     aria-labelledby="accordion-heading-{accordion.uid}"
                     data-bs-parent="#accordion-{data.uid}">
                    <div class="ce-accordion-body accordion-body">
                                <f:format.raw>{accordion.renderedContent}</f:format.raw>
                            </div>

                    </div>
                </div>
        </f:for>
    </div>
</f:section>
</html>
