<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:f="http://www.w3.org/1999/html"
      xmlns:f="http://www.w3.org/1999/html"
      data-namespace-typo3-fluid="true">
<f:layout name="Container" />
<f:section name="Main">
    <f:variable name="backgroundClass"> background-{f:if(condition: data.background_color_class, else: 'none', then: data.background_color_class)}</f:variable>
    <f:variable name="backgroundImageClass">{f:if(condition: backgroundImage.0, then: 'col-frame-has-backgroundimage', else: 'frame-no-backgroundimage')}</f:variable>

    <f:if condition="{flexform.wrapSection} == '1'">
        <f:then>
            <div class="section section-default{f:if(condition: flexform.sectionClass, then: ' {flexform.sectionClass}')}">
                <f:render section="101Column" arguments="{_all}" />
            </div>
        </f:then>
        <f:else>
            <f:render section="101Column" arguments="{_all}" />
        </f:else>
    </f:if>

</f:section>
</html>

<f:section name="101Column">
    {f:variable(name: 'css', value: '{css} {flexform.containerClass}') -> f:if(condition: flexform.containerClass)}
    {f:variable(name: 'css', value: '{css} container-fluid') -> f:if(condition: '{flexform.isContainerFluid} == "1"')}
    <f:variable name="backgroundImageClasses">{f:if(condition: backgroundImage.0, then: 'frame-has-backgroundimage frame-backgroundimage-behaviour-{data.background_image_options.behaviour}', else: 'frame-no-backgroundimage')}</f:variable>
    <f:if condition="{data.background_image_options.parallax}"><f:variable name="backgroundImageClasses">{backgroundImageClasses} frame-backgroundimage-parallax</f:variable></f:if>
    <f:if condition="{data.background_image_options.fade}"><f:variable name="backgroundImageClasses">{backgroundImageClasses} frame-backgroundimage-fade</f:variable></f:if>
    <f:if condition="{data.background_image_options.filter}"><f:variable name="backgroundImageClasses">{backgroundImageClasses} frame-backgroundimage-{data.background_image_options.filter}</f:variable></f:if>
    <f:variable name="colBackgroundImageObject" value="{backgroundImage.0}"/>
    <f:variable name="colli">col1</f:variable>

    <div {f:if(condition: backgroundImage.0, then: 'id="frame-backgroundimage-{colli}-{data.uid}"')} class="ce-container{css} {backgroundClass} {backgroundImageClasses}">

    <f:render partial="Frame/General/ColBgImages" arguments="{_all}" />
            <f:for each="{col_1}" as="child">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
    </div>

</f:section>
