<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:f="http://www.w3.org/1999/html"
      xmlns:f="http://www.w3.org/1999/html"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">
    <f:asset.script identifier="sticky_content_Script" src="EXT:extended_bootstrap_package/Resources/Public/JavaScript/Src/sticksy.min.js" />


    <f:asset.script identifier="sticky_content_init">var stickyElements = Sticksy.initializeAll('.sticky', { topSpacing: 60} );</f:asset.script>


    <f:variable name="cols_width_total">12</f:variable>
    <f:variable name="cols_width_sticky">{flexform.sticky_content_column_width}</f:variable>
    <f:variable name="cols_width_non_sticky">{cols_width_total - cols_width_sticky}</f:variable>
    <f:variable name="sticky_options"></f:variable>
    <f:variable name="col1_options"></f:variable>
    <f:variable name="col2_options"></f:variable>


    <f:if condition="{flexform.sticky_content_column} === 'left'">
        <f:then>
            <f:variable name="col1_class">col-lg-{cols_width_sticky}</f:variable>
        </f:then>
        <f:else>
            <f:variable name="col1_class">col-lg-{cols_width_non_sticky}</f:variable>
        </f:else>
    </f:if>

    <f:if condition="{flexform.sticky_content_column} === 'right'">
        <f:then>
            <f:variable name="col2_class">col-lg-{cols_width_sticky}</f:variable>
        </f:then>
        <f:else>
            <f:variable name="col2_class">col-lg-{cols_width_non_sticky}</f:variable>
        </f:else>
    </f:if>
        <div class="row">
            <f:render section="101Column" arguments="{_all}" />
            <f:render section="102Column" arguments="{_all}" />
        </div>



</f:section>
</html>

<f:section name="101Column">
<div class="{col1_class}">
    <f:if condition="{flexform.sticky_content_column} === 'left'">
        <f:then>
            <span class="sticky">
                 <f:for each="{col_1}" as="child">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
            </span>
        </f:then>
        <f:else>
            <f:for each="{col_1}" as="child">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
        </f:else>
    </f:if>
</div>
</f:section>
<f:section name="102Column">
<div class="{col2_class}">
    <f:if condition="{flexform.sticky_content_column} === 'right'">
        <f:then>
            <span class="sticky">
                 <f:for each="{col_2}" as="child">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
            </span>
        </f:then>
        <f:else>
            <f:for each="{col_2}" as="child">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
        </f:else>
</f:if>

</div>
</f:section>
