<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
       <f:if condition="{flexform.orientation} === 'flex-column'">
           <f:then>
               <f:render section="Vertical" arguments="{_all}"/>
           </f:then>
           <f:else>
               <f:render section="Horizontal" arguments="{_all}"/>
           </f:else>
       </f:if>
</f:section>
<f:section name="Horizontal">
    <div id="tabpanel-{data.uid}"
         class="gt-tabpanel tabpanel{f:if(condition:'{flexform.color}', then:' {flexform.color}')}"
         role="tabpanel">
        <nav class="tab-navigation">
            <div class="nav nav-tabs gt-tabs-{f:if(condition:'{flexform.style}', then:'{flexform.style}')} {f:if(condition:'{flexform.tabWidth}', then:' {flexform.tabWidth}')}" id="gt-tab-{data.uid}" role="tablist">
                <f:for each="{tabs}" as="tab" iteration="iterator">
                    {f:variable(name: '_selected', value: 'false')}
                    {f:variable(name: '_selected', value: 'true') -> f:if(condition:'{iterator.index}==0')}
                    <button class="nav-link{f:if(condition:'{iterator.index}==0',then:' active')}{f:if(condition:'{flexform.color}', then:' {flexform.color}')}"
                            id="tab-{tab.uid}"
                            data-toggle="tab"
                            data-target="#gt-tab-content-{tab.uid}"
                            data-bs-toggle="tab"
                            data-bs-target="#gt-tab-content-{tab.uid}"
                            type="button"
                            role="tab"
                            aria-controls="gt-tab-content-{tab.uid}"
                            aria-selected="{_selected}"
                    >
                        <span>{tab.header}</span>
                    </button>
                </f:for>
            </div>
        </nav>
        <div class="tab-content" id="tab-content-{data.uid}">
            <f:for each="{tabs}" as="tab" iteration="iterator">
                <div class="ce-tab-pane tab-pane fade{f:if(condition:'{iterator.index}==0',then:' show active')}"
                     id="gt-tab-content-{tab.uid}"
                     role="tabpanel"
                     aria-labelledby="tab-{tab.uid}">
                    <f:format.raw>{tab.renderedContent}</f:format.raw>
                </div>
            </f:for>
        </div>
    </div>
</f:section>
<f:section name="Vertical">
    <div id="tabpanel-{data.uid}"
         class="gt-tabpanel tabpanel{f:if(condition:'{flexform.color}', then:' {flexform.color}')}"
         role="tabpanel">
        <div class="row">
            <nav class="col-2 tab-navigation">
                <div class="nav nav-tabs gt-tabs-{f:if(condition:'{flexform.style}', then:'{flexform.style}')} flex-column{f:if(condition:'{flexform.tabWidth}', then:' {flexform.tabWidth}')}" id="gt-tab-{data.uid}" role="tablist">
                    <f:for each="{tabs}" as="tab" iteration="iterator">
                        {f:variable(name: '_selected', value: 'false')}
                        {f:variable(name: '_selected', value: 'true') -> f:if(condition:'{iterator.index}==0')}
                        <button class="nav-link{f:if(condition:'{iterator.index}==0',then:' active')}{f:if(condition:'{flexform.color}', then:' {flexform.color}')}"
                                id="tab-{tab.uid}"
                                data-toggle="tab"
                                data-target="#gt-tab-content-{tab.uid}"
                                data-bs-toggle="tab"
                                data-bs-target="#gt-tab-content-{tab.uid}"
                                type="button"
                                role="tab"
                                aria-controls="gt-tab-content-{tab.uid}"
                                aria-selected="{_selected}"
                        >
                            <span>{tab.header}</span>
                        </button>
                    </f:for>
                </div>
            </nav>
            <div class="col-10 tab-content" id="tab-content-{data.uid}">
                <f:for each="{tabs}" as="tab" iteration="iterator">
                    <div class="ce-tab-pane tab-pane fade{f:if(condition:'{iterator.index}==0',then:' show active')}"
                         id="gt-tab-content-{tab.uid}"
                         role="tabpanel"
                         aria-labelledby="tab-{tab.uid}">
                        <f:format.raw>{tab.renderedContent}</f:format.raw>
                    </div>
                </f:for>
            </div>
        </div>


    </div>
</f:section>
</html>
