<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
    {f:variable(name: 'breakpoint', value: '-{flexform.columnsBreakpoint}')
    -> f:if(condition: flexform.columnsBreakpoint)}
    <f:if condition="{flexform.columnsDistribution} != 0">
        <f:then>
            <f:switch expression="{flexform.columnsDistribution}">
                <f:case value="48">
                    {f:variable(name: 'col1Class', value: 'col{breakpoint}-4')}
                    {f:variable(name: 'col2Class', value: 'col{breakpoint}-8')}
                </f:case>
                <f:case value="66">
                    {f:variable(name: 'col1Class', value: 'col{breakpoint}-6')}
                    {f:variable(name: 'col2Class', value: 'col{breakpoint}-6')}
                </f:case>
                <f:case value="84">
                    {f:variable(name: 'col1Class', value: 'col{breakpoint}-8')}
                    {f:variable(name: 'col2Class', value: 'col{breakpoint}-4')}
                </f:case>
            </f:switch>
        </f:then>
        <f:else>
            <f:switch expression="{flexform.customerColumnsDistribution}">
                <f:case value="210">
                    {f:variable(name: 'col1Class', value: 'col{breakpoint}-2')}
                    {f:variable(name: 'col2Class', value: 'col{breakpoint}-10')}
                </f:case>
                <f:case value="39">
                    {f:variable(name: 'col1Class', value: 'col{breakpoint}-3')}
                    {f:variable(name: 'col2Class', value: 'col{breakpoint}-9')}
                </f:case>
                <f:case value="57">
                    {f:variable(name: 'col1Class', value: 'col{breakpoint}-5')}
                    {f:variable(name: 'col2Class', value: 'col{breakpoint}-7')}
                </f:case>
                <f:case value="75">
                    {f:variable(name: 'col1Class', value: 'col{breakpoint}-7')}
                    {f:variable(name: 'col2Class', value: 'col{breakpoint}-5')}
                </f:case>
                <f:case value="93">
                    {f:variable(name: 'col1Class', value: 'col{breakpoint}-9')}
                    {f:variable(name: 'col2Class', value: 'col{breakpoint}-3')}
                </f:case>
                <f:case value="102">
                    {f:variable(name: 'col1Class', value: 'col{breakpoint}-10')}
                    {f:variable(name: 'col2Class', value: 'col{breakpoint}-2')}
                </f:case>
            </f:switch>
        </f:else>
    </f:if>
        <div class="ce-tile-row row no-gutters g-0">
            <div class="ce-tile-col d-inline-flex flex-row {col1Class}">
                <f:for each="{col_1}" as="child">
                    <f:format.raw>{child.renderedContent}</f:format.raw>
                </f:for>
            </div>
            <div class="ce-tile-col d-inline-flex flex-row {col2Class}">
                <f:for each="{col_2}" as="child">
                    <f:format.raw>{child.renderedContent}</f:format.raw>
                </f:for>
            </div>
        </div>
</f:section>
</html>
