.ebp-page-ce .ebp-toggler .icon {
    transition: transform 0.5s;
}
.ebp-page-ce .ebp-toggler.collapsed .icon{
    transform: scaleY(-1);
}
.ebp-page-ce .ebp-title {
    min-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ebp-page-ce .ebp-header {
    justify-content: space-between;
    overflow: hidden;
}
