<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">

<f:variable name="headerClass">bp-page-header navbar navbar-mainnavigation navbar-{theme.navigation.style}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: logo.normal, then:' navbar-has-image')}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: theme.navigation.type, else:' navbar-top', then:' navbar-{theme.navigation.type} navbar-fixed-{theme.navigation.type}')}</f:variable>
<header id="page-header" class="{headerClass}" {f:if(condition:theme.headertopinfo.enabled, then:'style="z-index: 100;"')}>
    <div class="{f:if(condition:settings.navbar.fullwidth, then:'container-fluid', else:'container')} container-mainnavigation">
        <f:if condition="{theme.headertopinfo.enabled} && {theme.navigation.type} == top">
            <button class="d-lg-none btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="offcanvasExample">
                <i class="fa-solid fa-circle-info"></i>
            </button>

        </f:if>
        <f:render partial="Header/Logo" arguments="{_all}" />
        <f:if condition="{mainnavigation}">
            <f:render partial="Header/Toggle" arguments="{_all}" />
            <nav aria-label="{f:translate(key: 'main-navigation.label', extensionName: 'bootstrap_package')}" id="mainnavigation" class="collapse navbar-collapse">
                <f:render partial="DropIn/Navigation/MainBefore" arguments="{_all}" />
                <f:render partial="Navigation/MainNavigation" arguments="{_all}" />
                <f:render partial="DropIn/Navigation/MainAfter" arguments="{_all}" />
            </nav>
        </f:if>
    </div>
</header>

</html>
