<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>

    <f:if condition="{data.animation}">
        <f:asset.css identifier="animateCss" href="EXT:extended_bootstrap_package/Resources/Public/Css/dist/animate.min.css" />
        <f:asset.script identifier="animateJS" src="EXT:extended_bootstrap_package/Resources/Public/JavaScript/Src/josh.js"/>
        <f:asset.script identifier="animateInit">const josh = new Josh();</f:asset.script>
    </f:if>
    <bk2k:data.imageVariants as="variants" variants="{settings.responsiveimages.variants}" />
    <f:variable name="backendlayoutConfig">{settings.responsiveimages.backendlayout.{backendlayout}}</f:variable>
    <f:variable name="columnConfig">{backendlayoutConfig.{data.colPos}}</f:variable>
    <f:if condition="{columnConfig}">
        <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{columnConfig.multiplier}" gutters="{columnConfig.gutters}" corrections="{columnConfig.corrections}" />
    </f:if>

    <f:if condition="{containerContext}">
        <f:for each="{containerContext}" as="context">
            <f:variable name="containerConfig">{settings.responsiveimages.container.{context.CType}}</f:variable>
            <f:variable name="containerColumnConfig">{containerConfig.{data.colPos}}</f:variable>
            <f:if condition="{containerColumnConfig}">
                <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{containerColumnConfig.multiplier}" gutters="{containerColumnConfig.gutters}" corrections="{containerColumnConfig.corrections}" />
            </f:if>
        </f:for>
    </f:if>
    <f:if condition="{data.animation}">
        <div class="element josh-js"
             data-josh-anim-name="{data.animation}"
             data-josh-duration="{data.animation_duration}ms"
             data-josh-anim-delay="{data.animation_delay}s"
             data-josh-iteration="{f:if(condition: '{data.animation_iteration} == 0', then: 'infinite', else: '{data.animation_iteration}')}"
             >
    </f:if>
    <bk2k:frame
        id="c{data.uid}"
        type="{data.CType}"
        size="default"
        layout="{data.frame_layout}"
        frameClass="{data.frame_class}"
        spaceBefore="{data.space_before_class}"
        spaceAfter="{data.space_after_class}"
        options="{data.frame_options}"
        variants="{variants}"
        backgroundColor="{data.background_color_class}"
        backgroundImage="{backgroundImage.0}"
        backgroundImageOptions="{data.background_image_options}"
    >
        <f:if condition="{data._LOCALIZED_UID}"><a id="c{data._LOCALIZED_UID}"></a></f:if>
        <f:render section="Before" optional="true"><f:render partial="DropIn/Before/All" arguments="{_all}" /></f:render>
        <f:render section="Header" optional="true"><f:render partial="Header/All" arguments="{_all}" /></f:render>
        <f:render section="Main"   optional="true" />
        <f:render section="Footer" optional="true"><f:render partial="Footer/All" arguments="{_all}" /></f:render>
        <f:render section="After"  optional="true"><f:render partial="DropIn/After/All" arguments="{_all}" /></f:render>
    </bk2k:frame>
    <f:if condition="{data.animation}">
        </div>
    </f:if>
</f:spaceless>
</html>
