<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <bk2k:data.imageVariants as="variants" variants="{settings.responsiveimages.variants}" />
    <f:variable name="backendlayoutConfig">{settings.responsiveimages.backendlayout.{backendlayout}}</f:variable>
    <f:variable name="columnConfig">{backendlayoutConfig.{data.colPos}}</f:variable>
    <f:if condition="{columnConfig}">
        <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{columnConfig.multiplier}" gutters="{columnConfig.gutters}" corrections="{columnConfig.corrections}" />
    </f:if>

    <f:if condition="{containerContext}">
        <f:for each="{containerContext}" as="context">
            <f:variable name="containerConfig">{settings.responsiveimages.container.{context.CType}}</f:variable>
            <f:variable name="containerColumnConfig">{containerConfig.{data.colPos}}</f:variable>
            <f:if condition="{containerColumnConfig}">
                <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{containerColumnConfig.multiplier}" gutters="{containerColumnConfig.gutters}" corrections="{containerColumnConfig.corrections}" />
            </f:if>
        </f:for>
    </f:if>

    <f:variable name="frameSize">frame-size-default</f:variable>
    <f:variable name="frameClass">frame-none</f:variable>
    <f:variable name="typeClass">frame-type-{data.CType}</f:variable>
    <f:variable name="layoutClass">frame-layout-{data.frame_layout}</f:variable>
    <f:variable name="backgroundClass">frame-background-{f:if(condition: data.background_color_class, else: 'none', then: data.background_color_class)}</f:variable>
    <f:variable name="spaceBeforeClass">frame-space-before-{f:if(condition: data.space_before_class, else: 'none', then: data.space_before_class)}</f:variable>
    <f:variable name="spaceAfterClass">frame-space-after-{f:if(condition: data.space_after_class, else: 'none', then: data.space_after_class)}</f:variable>


            <a id="c{data.uid}"></a>
            <f:if condition="{data._LOCALIZED_UID}">
                <a id="c{data._LOCALIZED_UID}"></a>
            </f:if>
    <div id="c{data.uid}" class="tile-frame {frameSize} {frameClass} {typeClass} {layoutClass} {backgroundClass} {backgroundImageClass} {spaceBeforeClass} {spaceAfterClass}">
                <f:if condition="{data.space_before_class}">
                    <div class="frame-space-before {spaceBeforeClass}"></div>
                </f:if>
                <f:render section="Before" optional="true">
                    <f:render partial="DropIn/Before/All" arguments="{_all}" />
                </f:render>
                <f:render section="Header" optional="true">
                    <f:render partial="Header/All" arguments="{_all}" />
                </f:render>
                <f:render section="Main" optional="true" />
                <f:render section="Footer" optional="true">
                    <f:render partial="Footer/All" arguments="{_all}" />
                </f:render>
                <f:render section="After" optional="true">
                    <f:render partial="DropIn/After/All" arguments="{_all}" />
                </f:render>
                <f:if condition="{data.space_after_class}">
                    <div class="frame-space-after {spaceAfterClass}"></div>
                </f:if>

    </div>
</f:spaceless>
</html>
