<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:for each="{processedRow.tx_extendedbootstrappackage_progressbar_group_item}" as="item">
<div class="col-sm-4">
    <p><strong>{item.title}</strong></p>
    <p><label>{item.percent}%</label></p>
</div>
</f:for>
</html>
