<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<br/>
<div class="progress-bars mt-4" style="padding-left:20px; width:95%;">
<f:for each="{processedRow.tx_extendedbootstrappackage_progressbar_group_item}" as="item">
    <f:if condition="{item.title}">
        <div class="progress-label">
            <span class="text-1">{item.title}</span>
        </div>
    </f:if>
    <div class="progress mb-2">
        <div class="progress-bar" role="progressbar" aria-valuenow="{item.percent}" aria-valuemin="0" aria-valuemax="100" style="width: {item.percent}%; background-color: {item.color};">
            <span class="progress-bar-tooltip">{item.percent}%</span>
        </div>
    </div>
</f:for>
</div>
</html>
